<#--
        * description: 配置类型跳转界面
        * author:fuchun.hu@hand-china.com
        * version: 1.0
        *
        -->
    <#include "../include/header.html">
        <body>
        <!--***********************form表单*****************-->
        <div>
            <script type="text/javascript">

                var configId = '${RequestParameters.configId!0}';
                var companyId = '${RequestParameters.companyId!0}';



                var viewModel = kendo.observable({
                    model: {},
                    /*--新增--*/
                    createFunction:function(e){
                        $('#grid').data('kendoGrid').addRow();
                    },
                })

                //根据前界面传入的version进行查询
                $.ajax({
                    url:'${base.contextPath}/bs/config/query?configId='+configId,
                    // url:'${base.contextPath}/bs/DataModel/queryByModelId?modelId='+modelId,

                    //将查询出的json数据set到viewmodel的model中
                    success: function (args) {
                        var a0 = args.rows[0] || {};
                        for (var k in a0) {
                            viewModel.model.set(k, a0[k]);
                        }
                    }
                });




            </script>

            <!--bootstrap标识-->
            <div id="content-container">
                <div id="page-content">
                    <div class="panel" style="padding: 0px;">
                        <form class="form-horizontal" id="lovForm">
                            <div class="panel-body">
                                <!--将基数为12的分成三段，每段有两列，长度分别为6,6-->

                                <!--第一段-->
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="form-group required-input">
                                            <label class="col-sm-5 control-label">公司</label>
                                            <div class="col-sm-7">
                                                <input name="companyFullName" id="companyFullName" type="text" style="width: 100%; background-color:#DDDDDD" disabled="disabled" data-bind="value:model.companyFullName"
                                                       class="k-textbox" required>
                                                <script>kendo.bind($('#companyFullName'), viewModel);</script>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group required-input">
                                            <label class="col-sm-5 control-label">模型名称</label>
                                            <div class="col-sm-7">
                                                <input name="modelName" id="modelName" type="text" style="width: 100%; background-color:#DDDDDD" disabled="disabled" data-bind="value:model.modelName"
                                                       class="k-textbox" required>
                                                <script>kendo.bind($('#modelName'), viewModel);</script>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--第二段-->
                                <div class="col-sm-4">
                                    <div class="row">
                                        <div class="form-group required-input">
                                            <label class="col-sm-5 control-label">配置编码</label>
                                            <div class="col-sm-7">
                                                <input name="configNumber" id="configNumber" type="text" style="width: 100%; background-color:#DDDDDD" disabled="disabled" data-bind="value:model.configNumber"
                                                       class="k-textbox" required>
                                                <script>kendo.bind($('#configNumber'), viewModel);</script>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group required-input">
                                            <label class="col-sm-5 control-label">字段名</label>
                                            <div class="col-sm-7">
                                                <input name="columnName" id="columnName" type="text" style="width: 100%; background-color:#DDDDDD" disabled="disabled" data-bind="value:model.columnName"
                                                       class="k-textbox" required>
                                                <script>kendo.bind($('#columnName'), viewModel);</script>
                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <script>
                kendo.bind($('#page-content'), viewModel);
            </script>
            <div id="createWin"></div>
        </div>

        <!--*****************我是grid分割线************************-->
        <div class="col-sm-12" style="margin-top: 10px;">
            <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
                <!--新增-->
                <span class="btn btn-primary k-grid-add" style="float:left;margin-right:5px;" data-bind="click:createFunction"><i class="fa fa-plus-square" style="margin-right:3px;"></i><@spring.message "hap.new"/></span>
            </div>

            <!--将按钮绑定到viewmodel上-->
            <script>kendo.bind($('#toolbar-btn'), viewModel);</script>


            <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
                <div style="clear:both">
                    <div id="grid" ></div>
                </div>

            </div>

        </div>


        <script>
            var crudServiceBaseUrl = "${base.contextPath}/bs/configvalue",
                    dataSource = new kendo.data.DataSource({
                        transport: {
                            read:  {
                                //将头表id传入后台
                                url: crudServiceBaseUrl + "/query?configId=${RequestParameters.configId!0}",
                                type : "POST",
                                dataType: "json"
                            },
                            create : {
                                url : crudServiceBaseUrl + "/submit",
                                contentType: "application/json",
                                type : "POST",

                            },
                            update : {
                                url : crudServiceBaseUrl + "/submit",
                                contentType: "application/json",
                                type : "POST",
                            },
                            destroy: {
                                url: crudServiceBaseUrl + "/remove",
                                contentType: "application/json",
                                type: "POST"
                            },
                            parameterMap: function(options, type) {
                                if (type !== "read" && options.models) {
                                    //判断状态
                                    var datas = Hap.prepareSubmitParameter(options, type);
                                    //将前端的头id赋给子对象
                                    for (var i=0;i<datas.length;i++) {
                                        datas[i].configId = configId;
                                        datas[i].companyId = companyId;
                                    }
                                    //从一个对象解析出字符串
                                    return kendo.stringify(datas);
                                } else if (type === "read") {
                                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                                }
                            }
                        },
                        batch: true,
                        serverPaging : true,//是否在服务器端分页
                        pageSize: 10,
                        schema: {
                            data:'rows',
                            total:'total',
                            model: {
                                id: "configValueId",   //标记信息状态的属性，不然没法根据状态判断是add还是update
                                fields: {
                                    /* sname: { validation: { required: true } },
                                     sstatus: {defaultValue:"Y"}, //设置默认值*/
                                    // ssage :{type:'^[0-9A-Z_]+$'}


                                }

                            }
                        }
                    });

            var grid = $("#grid").kendoGrid({
                dataSource : dataSource,
                navigatable: false,
                height: '100%',
                resizable: true,
                scrollable: "multiple,rowbox",
                reorderable: true,
                sortable   : true,
                selectable : "row",
                editable: "inline",
                columnMenu: true,
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {

                        command	: [{
                            name:"detail",
                            text:"<i class='fa fa-search'></i>",
                            click:function (e) {
                                e.preventDefault();
                                var tr = $(e.target).closest("tr");
                                var data = this.dataItem(tr);
                                /*window.top.openTab(
                                        "configval"+data.configId,data.configNumber,
                                        "bs/config_value.html?configId="+data.configId);*/

                            }
                        },{
                            name : "edit",
                            text :'编辑'

                        },{
                            name:'destroy',
                            text:'删除'
                        }],
                        attributes: {style: "text-align:center"},
                        title		: "操作",
                        width		: "4%" ,
                        headerAttributes: {
                            style: "text-align: center"
                        },

                    },
                    {
                        field: "configValueNumber",
                        title: '编码',
                        attributes: {style: "text-align:center"},
                        width: '8%',
                        editor: function (container, options) {
                                //alert(options.field);
                                $('<input type="text" required validationMessage="只允许输入大写字母、数字及下划线" pattern="^[0-9A-Z_]+$"  name="' + options.field + '" />').appendTo(container).kendoMaskedTextBox({});

                       },

                    },
                    {
                        field: "configValueName",
                        attributes: {style: "text-align:center"},
                        title: '类型名称',
                        width: '8%',
                        editor: function (container, options) {
                            //alert(options.field);
                            $('<input type="text" required validationMessage="<@spring.message "hpms.notempty"/>" name="' + options.field + '" />').appendTo(container).kendoMaskedTextBox({});

                        },
                    }
                ],


            }).data("kendoGrid");


            //自动调整
            Hap.autoResizeGrid("#grid");
            //设置表格上的字居中
            $("#grid thead>tr th").css("text-align","center");
        </script>
        </body>