<#--
        * description: 数据模型
        * author:fuchun.hu@hand-china.com
        * version: 1.0
        *
        -->
    <#include "../include/header.html">
        <body>
        <style>
            span[class='k-window-title'] {
                user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                -webkit-user-select: none;
                -webkit-touch-callout: none;
            }

            span[class^="l-icon-"] {
                width: 20px;
                height: 16px;
                overflow: hidden;
                display: inline-block;
            }



        </style>

        <script type="text/javascript">
            var viewModel = kendo.observable({
                model:{},

                //查询
                queryResource: function(e) {
                    $('#grid').data('kendoGrid').dataSource.page(1);
                },


                //新建
                createFunction: function(){
                    $('#grid').data('kendoGrid').addRow();
                },


            });

        </script>

        <!--********************我是查询字段分割线*******************************-->
        <div id="page-content">
            <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
                <form class="form-horizontal" id="data_form" role="form" style="margin-top: 5px;">

                    <div class="row">
                        <div class="from-group col-md-4" style="margin-bottom:10px">
                            <label class="col-md-5 control-label">编码</label>
                            <div class="col-md-7">
                                <input type="text" class="k-textbox" name="modelCode"  data-bind="value:model.modelCode" style="width: 90%;"/>
                            </div>
                        </div>
                        <div class="from-group col-md-4" style="margin-bottom:10px">
                            <label class="col-md-5 control-label">模型名称</label>
                            <div class="col-md-7">
                                <input type="text" class="k-textbox" name="modelName"  data-bind="value:model.modelName" style="width: 90%;"/>
                            </div>
                        </div>
                        <div class="from-group col-md-4" style="margin-bottom:10px">
                            <label class="col-md-5 control-label">数据表名</label>
                            <div class="col-md-7">
                                <input type="text" class="k-textbox" name="tableName"  data-bind="value:model.tableName" style="width: 90%;"/>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script>kendo.bind($('#data_form'), viewModel);</script>

            <div class="row" style="margin-left: 0px;margin-bottom: 10px">
                <div id="toolbar-btn" style="padding-bottom: 10px;">
                        <span class="btn btn-primary k-grid-add"
                              style="float: left; margin-right: 5px;"
                              data-bind="click:createFunction">
                            <i class="fa fa-plus-square" style="margin-right:3px;"></i>新建</span>
                        <span class="btn btn-primary k-grid-save-changes"
                              style="float: left; margin-right: 5px;"
                              data-bind="click:queryResource">
                            <i class="fa fa-search" style="margin-right:3px;"></i>查询</span>
                </div>
            </div>

            <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
            <div style="clear:both">
                <div id="grid" ></div>
            </div>
        </div>

        <!--******************我是grid分割线***************************-->
        <script>



            var crudServiceBaseUrl = "${base.contextPath}/bs/DataModel",
                    dataSource = new kendo.data.DataSource({
                        transport: {
                            read:  {
                                url: crudServiceBaseUrl + "/query",
                                type : "POST",
                                dataType: "json"
                            },
                            create : {
                                url : crudServiceBaseUrl + "/submit",
                                contentType: "application/json",
                                type : "POST",
                                success : function(e){
                                    alert(e);
                                },
                                error:function(e){
                                    alert(e);
                                }
                            },
                            update : {
                                url : crudServiceBaseUrl + "/submit",
                                contentType: "application/json",
                                type : "POST",
                                success : function(e){
                                    alert(e);
                                },
                                error:function(e){
                                    alert(e);
                                }
                            },
                            destroy: {
                                url: crudServiceBaseUrl + "/remove",
                                contentType: "application/json",
                                type: "POST"
                            },
                            parameterMap: function(options, type) {
                                if (type !== "read" && options.models) {
                                    //判断状态
                                    var datas = Hap.prepareSubmitParameter(options, type);
                                    //从一个对象解析出字符串
                                    return kendo.stringify(datas);
                                } else if (type === "read") {
                                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                                }
                            }
                        },
                        batch: true,
                        serverPaging : true,//是否在服务器端分页
                        pageSize: 10,
                        schema: {
                            data:'rows',
                            total:'total',
                            model: {
                                id: "modelId",   //标记信息状态的属性，不然没法根据状态判断是add还是update
                                fields: {


                                }

                            },
                            /* requestEnd: function(e) {
                             if (e.type != "read"){
                             dataSource.page(1);
                             }
                             }*/
                            requestEnd: function(e) {
                                if (e.response.success && e.type != "read") {
                                    kendo.ui.showInfoDialog({
                                        message:'<@spring.message "hap.tip.success"/>'
                                    })
                                }else{
                                    this.cancelChanges();
                                }
                            },
                        }
                    });


            var grid = $("#grid").kendoGrid({
                dataSource : dataSource,
                navigatable: false,
                height: '100%',
                resizable: true,
                scrollable: "multiple,rowbox",
                reorderable: true,
                sortable   : true,
                selectable : "row",
                editable: "inline",
                columnMenu: true,
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {

                        command	: [{
                            name:"detail",
                            text:"<i class='fa fa-search'></i>",
                            click:function (e) {
                                e.preventDefault();
                                var tr = $(e.target).closest("tr");
                                var data = this.dataItem(tr);
                                window.top.openTab(
                                        "datacol"+data.modelId,data.modelCode,
                                        "bs/data_model_col.html?modelId="+data.modelId);

                            }
                        },{
                            name : "edit",
                            text :'编辑'

                        },{
                            name:"delete",
                            text:"<span class='fa fa-trash-o'></span>",
                        }],
                        attributes: {style: "text-align:center"},
                        title		: "操作",
                        width		: "16%" ,
                        headerAttributes: {
                            style: "text-align: center"
                        },

                    },
                    {
                        field: "modelCode",
                        title: '编码',
                        width: '17%' ,
                        attributes: {style: "text-align:center"},

                        editor: function (container, options) {
                            //根据是否存在主键id来判断是新增还是编辑
                           if (options.model.modelId != "") {
                                container.html(options.model.modelCode);
                                container.removeClass('k-edit-cell');
                            } else {
                                var editor = $('<input type="text" required  validationMessage="只允许输入大写字母、数字及下划线" pattern="^[0-9A-Z_]+$" style="padding:0;height:30px;" name="modelCode" class="k-input k-text-box" >');
                                editor.css('width','100%');
                                container.append(editor);
                            }
                        }


                    },
                    {
                        field: "modelName",
                        title: '模型名称',
                        width: '17%' ,
                        attributes: {style: "text-align:center"},

                        editor: function (container, options) {
                            //alert(options.field);
                            $('<input type="text" required  name="' + options.field + '" />').appendTo(container).kendoMaskedTextBox({});

                        },
                    },
                    {
                        field: "tableName",
                        //name:"meaning",
                        title: '数据库表名',
                        width: '18%' ,
                        attributes: {style: "text-align:center"},
                        editor: function(container, options) {

                            //根据是否存在主键id来判断是新增还是编辑
                            if (options.model.modelId != "") {
                                container.html(options.model.tableName);
                                container.removeClass('k-edit-cell');
                            } else {
                                var editor=$('<input name="' + options.field + '"/>')
                                        .appendTo(container)
                                        .kendoLov({
                                            //三个必须参数：code、contextPath、locale，其他参数    根据实际情况自行设置
                                            code:"MDM_SELECT_ALL_TABLES",
                                            contextPath:'',
                                            locale:'${base.locale}',
                                            query:function (e) {
                                                if (!e.param.tableName) {
                                                    e.param.tableName = "HPMS%";
                                                }
                                            },

                                            textField: 'tableName',
                                            model: options.model
                                        });
                                editor.css('width','100%');
                                container.append(editor);
                            }

                        }



                    }
                ],

            }).data("kendoGrid");


            //自动调整
            Hap.autoResizeGrid("#grid");
            //设置表格上的字居中
            $("#grid thead>tr th").css("text-align","center");

        </script>


        </body>