<#--
        * description: 客户仪表抄表批量录入
        * version: 1.0
        * #copyright#
        * author jun.guo@hand-china.com    2017/3/23 10:20:00
        -->
    <#include "../include/header.html">
        <script type="text/javascript">
            var viewModel = kendo.observable({
                model: {
                },
                createFunction: function () {
                    $('#Grid').data('kendoGrid').addRow();
                },
                saveFunction: function () {
                    $('#Grid').data('kendoGrid').saveChanges();
                },
                queryResource: function (e) {
                    if(viewModel.model.companyId==''||viewModel.model.companyId==null){
                        kendo.ui.showInfoDialog({
                            message:'<@spring.message "hpms.mdm.project.companyName"/><@spring.message "hap.error.nullexception"/>'
                        })
                    }else if(viewModel.model.projectId==''||viewModel.model.projectId==null){
                        kendo.ui.showInfoDialog({
                            message:'<@spring.message "hpms.mdm.project.projectName"/><@spring.message "hap.error.nullexception"/>'
                        })
                    }else if(viewModel.model.equipmentTypeId==''||viewModel.model.equipmentTypeId==null){
                        kendo.ui.showInfoDialog({
                            message:'<@spring.message "hpms.mdm.fee.equipmenttype"/><@spring.message "hap.error.nullexception"/>'
                        })
                    }else if(viewModel.model.year==''||viewModel.model.year==null) {
                        kendo.ui.showInfoDialog({
                            message: '<@spring.message "hpms.fin.pubmeter.year"/><@spring.message "hap.error.nullexception"/>'
                        })
                    }else if(viewModel.model.month==''||viewModel.model.month==null){
                        kendo.ui.showInfoDialog({
                            message:'<@spring.message "hpms.fin.pubmeter.month"/><@spring.message "hap.error.nullexception"/>'
                        })
                    }else {
                        $('#Grid').data('kendoGrid').dataSource.page(1);
                    }
                }
            });

        </script>
        <body>
        <style type="text/css">
            span.red_text { color: red; font-weight: bold; }
        </style>

        <div id="page-content">

            <div id="query_form">
                <form class="form-horizontal">

                    <div class="col-xs-12" >
                        <div class="col-xs-6" >
                            <div class="form-group">
                                <label class="col-xs-4 control-label"
                                       style="text-align: right"><@spring.message "hpms.mdm.project.companyName"/></label>
                                <div class="col-xs-6">
                                    <input id="companyId" name="companyId" type="text" required validationMessage="<@spring.message "hpms.notempty"/>" data-bind="value:model.companyId" style="width: 95%;">
                                    <span class="red_text">*</span>
                                    <script>kendo.bind($('#companyId'), viewModel);</script>
                                </div>
                                <div class="col-xs-2" >
                                    <span class="k-invalid-msg" data-for="companyId"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" >
                            <div class="form-group">
                                <label class="col-xs-4 control-label"
                                       style="text-align: right"><@spring.message "hpms.mdm.project.projectName"/></label>
                                <div class="col-xs-6">
                                    <input id="projectId" name="projectId" type="text" required validationMessage="<@spring.message "hpms.notempty"/>" data-bind="value:model.projectId" style="width: 95%;">
                                    <span class="red_text">*</span>
                                    <script>kendo.bind($('#projectId'), viewModel);</script>
                                </div>
                                <div class="col-xs-2" >
                                    <span class="k-invalid-msg" data-for="projectId"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" >
                        <div class="col-xs-12" >
                            <div class="form-group">
                                <label class="col-xs-2 control-label"
                                       style="text-align: right"><@spring.message "hpms.mdm.fee.equipmenttype"/></label>
                                <div class="col-xs-3">
                                    <input id="equipmentTypeId" name="equipmentTypeId" type="text" required validationMessage="<@spring.message "hpms.notempty"/>" data-bind="value:model.equipmentTypeId" style="width: 95%;">
                                    <span class="red_text">*</span>
                                    <script>kendo.bind($('#equipmentTypeId'), viewModel);</script>
                                </div>
                                <div class="col-xs-1" >
                                    <span class="k-invalid-msg" data-for="equipmentTypeId"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12" >
                        <div class="col-xs-6" >
                            <div class="form-group">
                                <label class="col-xs-4 control-label"
                                       style="text-align: right"><@spring.message "hpms.fin.pubmeter.year"/></label>
                                <div class="col-xs-6">
                                    <input id="year" name="year" type="text" required validationMessage="<@spring.message "hpms.notempty"/>" data-bind="value:model.year"  style="width: 95%;">
                                    <span class="red_text">*</span>
                                    <script>kendo.bind($('#year'), viewModel);</script>
                                </div>
                                <div class="col-xs-2" >
                                    <span class="k-invalid-msg" data-for="year"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6" >
                            <div class="form-group">
                                <label class="col-xs-4 control-label"
                                       style="text-align: right"><@spring.message "hpms.fin.pubmeter.month"/></label>
                                <div class="col-xs-6">
                                    <input id="month" name="month" type="text" required validationMessage="<@spring.message "hpms.notempty"/>" data-bind="value:model.month" style="width: 95%;">
                                    <span class="red_text">*</span>
                                    <script>kendo.bind($('#month'), viewModel);</script>
                                </div>
                                <div class="col-xs-2" >
                                    <span class="k-invalid-msg" data-for="month"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <script>kendo.bind($('#query_form'), viewModel);</script>
            <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;">
                <span type="submit" class="btn btn-primary" style="float:left;width:70px;margin-right:5px;" data-bind="click:queryResource" ><i class="fa fa-search" style="margin-right:3px;"></i><@spring.message "hap.query"/></span>
            </div>
            <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
            <div style="clear:both">
                <div id="Grid"></div>
            </div>

        </div>


        <script type="text/javascript">

            $('#page-content').kendoValidator();

            $('#page-content').keydown(function (e) {
                if (e.keyCode == 13) {
                    e.target.blur();
                    viewModel.queryResource(e);
                }
            });


            $("#companyId").kendoComboBox({
                valuePrimitive: true,
                dataTextField: "companyFullName",
                dataValueField: "companyId",
                dataSource: {
                    transport: {
                        read:function(options) {
                            $.ajax({
                                type   : "POST",
                                url: "${base.contextPath}/mdm/property/companyQuery",
                                data: {},
                                success: function(json) {
                                    options.success(json.rows);
                                }
                            });
                        }
                    }
                }
            });
            $("#projectId").kendoComboBox({
                autoBind: false,
                valuePrimitive: true,
                cascadeFrom: "companyId",
                cascadeFromField: "companyId",
                filter: "contains",
                dataTextField: "projectName",
                dataValueField: "projectId",
                dataSource: {
                    serverFiltering:true,
                    transport: {
                        read: {
                            url:"${base.contextPath}/mdm/property/projectQuery",
                            type : "POST"
                        },
                        contentType : "application/json",
                        parameterMap: function(options, type) {
                            if (type === "read") {
                                var filter = options.filter.filters[0]
                                var map = {};
                                map[filter.field] = filter.value;
                                return map;
                            }
                        }
                    },
                    schema: {
                        data: 'rows'
                    }
                }
            }) ;

            $("#equipmentTypeId").kendoComboBox({
                valuePrimitive: true,
                dataTextField: "typeName",
                dataValueField: "equipmentTypeId",
                dataSource: {
                    transport: {
                        read:function(options) {
                            $.ajax({
                                type   : "POST",
                                url:  "${base.contextPath}/hpms/mdm/equipment/queryEquipmentType?typeAttribute="+'CUSTOMER METER',
                                data: {},
                                success: function(json) {
                                    options.success(json.rows);
                                }
                            });
                        }
                    }
                }
            });

            $("#year").kendoComboBox({
                valuePrimitive: true,
                dataTextField: "code",
                dataValueField: "code",
                dataSource: {
                    transport: {
                        read:function(options) {
                            $.ajax({
                                type   : "POST",
                                url: "${base.contextPath}/hpms/fin/meter/read/his/queryYear",
                                data: {},
                                success: function(json) {
                                    options.success(json.rows);
                                }
                            });
                        }
                    }
                }
            });

            $("#month").kendoComboBox({
                valuePrimitive: true,
                dataTextField: "code",
                dataValueField: "code",
                dataSource: {
                    transport: {
                        read:function(options) {
                            $.ajax({
                                type   : "POST",
                                url: "${base.contextPath}/hpms/fin/meter/read/his/queryMonth",
                                data: {},
                                success: function(json) {
                                    options.success(json.rows);
                                }
                            });
                        }
                    }
                }
            });


            var BaseUrl = _basePath;
            dataSource = new kendo.data.DataSource({
                transport: {
                    read: {
                        url: BaseUrl + "/hpms/fin/meter/read/cusMeterhis/batch",
                        type: "POST",
                        dataType: "json"
                    },
                    create: {
                        url: BaseUrl + "/hpms/fin/meter/read/his/submit",
                        contentType: "application/json",
                        type: "POST"
                    },
                    update: {
                        url: BaseUrl + "/hpms/fin/meter/read/his/submit",
                        contentType: "application/json",
                        type: "POST"
                    },
                    parameterMap: function (options, type) {
                        if (type !== "read" && options.models) {
                            var row = options.models[0];
                            if (row["readHisId"] == null && type == "update")
                                type = "create";
                            var datas = Hap.prepareSubmitParameter(options, type)
                            return kendo.stringify(datas);
                        } else if (type === "read") {
                            return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                        }
                    }
                },
                batch: true,
                serverPaging: true,
                pageSize: 10,
                schema: {
                    data: 'rows',
                    total: 'total',
                    model: {
                        id: "equipmentId",
                        fields: {
                            readDate: {type: "date"}
                        }
                    }
                }
            });

            function useChange() {

                if (thisRowData_g["meterTotalUse"]=='' || thisRowData_g["meterTotalUse"]==null) {
                    thisRowData_g.set("meterTotalAmount",null);
                }else {
                    thisRowData_g.set("meterTotalAmount",null);
                    $.ajax({
                        type   : "POST",
                        url: "${base.contextPath}/hpms/fin/meter/read/his/queryPrice?companyId=" + thisRowData_g["companyId"] + "&projectId="
                        + thisRowData_g["projectId"] + "&equipmentTypeId=" + thisRowData_g["equipmentTypeId"] + "&grade=" + thisRowData_g["meterTotalUse"],
                        success: function(json) {
                            console.log(json.rows);
                            console.log(json.rows[0]);

                            if(json.rows[0]==undefined){
                                kendo.ui.showInfoDialog({
                                    message:'<@spring.message "hpms.fin.cusmeter.accountlimit"/>'
                                });
                                thisRowData_g.set("meterTotalUse",null);
                            }else{
                                var row = json.rows[0] || {};
                                for (var k in row) {
                                    if (k== "price") {
                                        //console.log(row["price"]);
                                        thisRowData_g.set("meterTotalAmount",Math.round(thisRowData_g["meterTotalUse"] * row["price"] * 100, 2) / 100);
                                        //thisRowData_g.set("meterTotalAmount",Math.round(thisRowData_g["meterTotalUse"] * row[k] * 100, 2) / 100);
                                    }
                                }
                            }


                        }
                    });
                }


            }

            var thisRowData_g;

            var grid = $("#Grid").kendoGrid({
                dataSource: dataSource,
                height: '100%',
                resizable: true,
                scrollable: true,
                navigatable: false,
                recordable : true,
                editable: "inline",
                pageable: {
                    pageSizes: [5, 10, 20, 50],
                    refresh: true,
                    buttonCount: 5
                },
                columns: [
                    {
                        title : '<@spring.message "hap.action"/>',
                        attributes: {style: "text-align:center"},
                        command:[ {
                            name: "edit",
                            isEnable: function (data) {
                                if(data.status == "FREEZED"){
                                    return false;
                                }
                                return true;
                            }
                        } ],
                        width:80
                    },
                    {
                        field: "invoiceCode",
                        title: '<@spring.message "hpms.fin.pubmeter.invoiceCode"/>',
                        width: 100,
                        editor:function (container, options) {
                            $('<input type="text" class="k-textbox" pattern="^[0-9A-Z]+$" required validationMessage="<@spring.message "hpms.fin.pubmeter.invoicelimit"/>" name="' + options.field + '"/>').appendTo(container)
                        }
                    },
                    {
                        field: "equipmentName",
                        title: '<@spring.message "hpms.fin.pubmeter.metername"/>',
                        width: 150,
                        editor:function (container, options) {
                            $('<span>'+options.model.equipmentName+'</span>')
                                    .appendTo(container)
                        }
                    },
                    {
                        field: "lastRead",
                        title: '<@spring.message "hpms.fin.pubmeter.lastRead"/>',
                        width: 100,
                        editor:function (container, options) {
                            $('<span>'+options.model.lastRead+'</span>')
                                    .appendTo(container)
                        }
                    },
                    {
                        field: "currentRead",
                        title: '<@spring.message "hpms.fin.pubmeter.currentRead"/>',
                        width: 100,
                        editor:function (container, options) {
                            $('<input type="text" class="k-textbox" pattern="^(([0-9]+)|([0-9]+\.[0-9]{1}))$" required validationMessage="<@spring.message "hpms.fin.pubmeter.numberlimit"/>" name="' + options.field + '"/>').appendTo(container)
                        }
                    },
                    {
                        field: "meterTotalUse",
                        title: '<@spring.message "hpms.fin.pubmeter.meterTotalUse"/>',
                        width: 100,
                        editor:function (container, options) {
                            //TODO set this row in var
                            thisRowData_g = options.model;
                            $('<input type="text" class="k-textbox" onblur = "useChange()" pattern="^(([0-9]+)|([0-9]+\\.[0-9]{1}))$" required validationMessage="<@spring.message "hpms.fin.pubmeter.numberlimit"/>" name="' + options.field + '"/>').appendTo(container)
                        }
                    },
                    {
                        field: "meterTotalAmount",
                        title: '<@spring.message "hpms.fin.pubmeter.meterTotalAmount"/>',
                        width: 100,
                        editor:function (container, options) {
                            $('<input type="text" class="k-textbox" style="background-color:#f5f5f5;" disabled name="' + options.field + '"/>').appendTo(container)
                        }

                    },
                ]
            }).data("kendoGrid");

            Hap.autoResizeGrid("#Grid");


        </script>
        </body>
        </html>