<#--
 * description: 应收费用清单
 * version: 1.0
 * #copyright#
 *author: chengye.hu@hand-china.com 2017.02.15
-->
<#include "../include/header.html">
<body>
    <style type="text/css">
		.k-textbox {
			width: 180px;
    		height: 25px;
		}
		.inputbox{
			width: 180px;
    		height: 25px;
		}
	</style>
	<script src="${base.contextPath}/common/code?feeStatusData=HPMS_FEE_LIST_TPYE" type="text/javascript"></script>
	<script src="${base.contextPath}/common/code?transTypeData=HPMS_TRANS_TYPE" type="text/javascript"></script>
	<script type="text/javascript">
	var viewModel = kendo.observable({
        model: {},
        creatFunction: function(){
            $('#fee_list_grid').data('kendoGrid').saveChanges();
        },
        queryResource    : function (e) {
            $('#fee_list_grid').data('kendoGrid').dataSource.page(1);
        },
        resetForm : function (e) {
            var formData = viewModel.model.toJSON();
            for (var k in formData) {
                viewModel.model.set(k, null);
            }
        }
    });

    function newData() {
    	parent.openTab('fee_list',"<@spring.message 'hpms.fin.feelist.fee_list_create'/>",'fin/fee_list_create.html?isedit=0')
    };
	</script>
<div id="page-content">
	<div id="fee_list_form">
		<form class="form-horizontal" id="pool_form" role="form" style="margin-top: 5px;">
			<div class="row">
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.mdm.property.company'/></label>
				    <div class="col-md-7">
				    	<input id="companyId" name="companyId" data-bind="value:model.companyId" style="width: 90%;"/>
				    </div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.mdm.property.project'/></label>
					<div class="col-md-7">
						<input id="projectId" name="projectId" data-bind="value:model.projectId" style="width: 90%;"/>
					</div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.mdm.property.propertyname'/></label>
				    <div class="col-md-7">
				      <input id="propertyName" name="propertyName"  data-bind="value:model.propertyName" style="width: 90%;">
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.mdm.property.propertynumber'/></label>
				    <div class="col-md-7">
				        <input type="text" class="k-textbox" name="propertyNumber"  data-bind="value:model.propertyNumber" style="width: 90%;"/> 
				    </div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.mdm.priceline.feetype'/></label>
				    <div class="col-md-7">
				    	<input id="feeTypeId" name="feeTypeId" data-bind="value:model.feeTypeId" style="width: 90%;"/>
				    </div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.fin.invoice.transtype'/></label>
				    <div class="col-md-7">
				    	<input id="transType" name="transType" data-bind="value:model.transType" style="width: 90%;"/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.fin.feelist.feelistcode'/></label>
				    <div class="col-md-7">
				        <input type="text" class="k-textbox" name="feeListCode"  data-bind="value:model.feeListCode" style="width: 90%;"/> 
				    </div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.mdm.feetype.enableflag'/></label>
				    <div class="col-md-7">
				    	<input id="feeStatus" name="feeStatus" data-bind="value:model.feeStatus" style="width: 90%;"/>
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.fin.feelist.feeperiod'/></label>
				    <div class="col-md-3">
				    	<input id="accruedDate" data-role="datepicker" data-bind="value:model.accruedDate" style="width: 140%;"/>
				    </div>
				    <div class="col-md-1">
				    	<label>~</label>
				    </div>
				    <div class="col-md-3">
				    	<input id="accruedDate2" data-role="datepicker" data-bind="value:model.accruedDate2" style="width: 140%;"/>
				    </div>
				</div>
			</div>
		</form>
	</div>
	<script>kendo.bind($('#fee_list_form'), viewModel);</script>
	<div class="pull-left" id="toolbar-btn" style="clear:both;padding-bottom:10px;padding-top:20px;">
        <span  onclick="newData()" class="btn btn-primary" style="float:left;margin-right:5px;"><@spring.message "hap.new"/></span>
        <span  onclick="updateData('REVOCATION')" class="btn btn-primary" style="float:left;margin-right:5px;"><@spring.message "hpms.fin.feelist.undo"/></span>
        <span  onclick="updateData('WITHDRAWING')" class="btn btn-primary" style="float:left;margin-right:5px;"><@spring.message "hpms.fin.feelist.provision"/></span>
        <span  data-bind="click:queryResource" class="btn btn-primary" style="float:left;"><@spring.message "hap.query"/></span>
	</div>
	<script>kendo.bind($('#toolbar-btn'), viewModel);</script>
	<div id="fee_list_form2" style="clear:both;padding-bottom:10px;padding-top:20px;">
		<form class="form-horizontal" id="pool_form2" role="form" style="margin-top: 5px;">
			<div class="row">
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.fin.feelist.provision_amount'/></label>
				    <div class="col-md-7">
				    	<input id = "grossAmount" type="text" class="k-textbox" name="grossAmount" data-bind="value:model.grossAmount" style="width: 90%;"/>
				    </div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.fin.feelist.adjtotal'/></label>
					<div class="col-md-7">
						<input id = "adjAmount" type="text" class="k-textbox" name="adjAmount" data-bind="value:model.adjAmount" style="width: 90%;"/>
					</div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.fin.feelist.amount'/></label>
				    <div class="col-md-7">
				      <input id = "amount" type="text" class="k-textbox" name="amount"  data-bind="value:model.amount" style="width: 90%;">
				    </div>
				</div>
			</div>
			<div class="row">
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.fin.feelist.counteddate'/></label>
				    <div class="col-md-7">
				        <input data-role="datepicker" name="countedDate"  data-bind="value:model.countedDate" style="width: 90%;"/> 
				    </div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<label class="col-md-5 control-label"><@spring.message 'hpms.fin.feelist.remark'/></label>
				    <div class="col-md-7">
				    	<input type="text" class="k-textbox" name="remark" data-bind="value:model.remark" style="width: 90%;"/>
				    </div>
				</div>
				<div class="from-group col-md-4" style="margin-bottom:10px">
					<span  onclick="updateData2('WITHDRAWING')" class="btn btn-primary" style="float:left;margin-right:5px;"><@spring.message "hap.ok"/></span>
					<span  onclick="cancel()" class="btn btn-primary" style="float:left;margin-right:5px;"><@spring.message "hap.cancel"/></span>
				</div>
			</div>
		</form>
	</div>
	<script>kendo.bind($('#fee_list_form2'), viewModel);</script>
	<div style="clear:both">
        <div id="fee_list_grid" ></div>
    </div>
</div>
	<script type="text/javascript" >
	
		$("#fee_list_form2").hide();
		$("#grossAmount").attr("readonly",true).css("background", "#DDDDDD");
		$("#adjAmount").attr("readonly",true).css("background", "#DDDDDD");
		$("#amount").attr("readonly",true).css("background", "#DDDDDD");
		
		function cancel(){
			$("#fee_list_form2").hide();
		}
		
		$('#fee_list_form input').keydown(function (e) {
		    if (e.keyCode == 13) {
		        e.target.blur();
		        viewModel.queryResource(e);
		    }
		});
		
		$("#companyId").kendoComboBox({
		  valuePrimitive: true,
		  dataTextField: "companyFullName",
          dataValueField: "companyId",
          dataSource: {
                    transport: {
                    	read:function(options) {
						      $.ajax({
						        type   : "POST",
						        url: "${base.contextPath}/mdm/property/companyQuery",
						        data: {}, 
						        success: function(json) {
						          options.success(json.rows);
						        }
						      });
    					}
                	} 
          }
		});
		$("#projectId").kendoComboBox({
          autoBind: false,
          valuePrimitive: true,
          cascadeFrom: "companyId",
          cascadeFromField: "companyId",
          filter: "contains",
          dataTextField: "projectName",
          dataValueField: "projectId",
          dataSource: {
              serverFiltering:true,
              transport: {
                  read: {
                  	url:"${base.contextPath}/mdm/property/projectQuery",
                  	type : "POST" 
                  }, 
                  contentType : "application/json",
                  parameterMap: function(options, type) {
                      if (type === "read") {
                          var filter = options.filter.filters[0]
                          var map = {};
                          map[filter.field] = filter.value;
                          return map;
                      }
                  }
              },
              schema: {
                  data: 'rows'
              }
          }
      }) ;
      
      $("#propertyName").kendoComboBox({
          autoBind: false,
          valuePrimitive: true,
          cascadeFrom: "projectId",
          cascadeFromField: "projectId",
          filter: "contains",
          dataTextField: "propertyName",
          dataValueField: "propertyName",
          dataSource: {
              serverFiltering:true,
              transport: {
                  read: {
                  	url:"${base.contextPath}/mdm/property/propertyQuery",
                  	data:{companyId:viewModel.model.companyId},
                  	type : "POST" 
                  }, 
                  contentType : "application/json",
                  parameterMap: function(options, type) {
                      if (type === "read") {
                          var filter = options.filter.filters[0]
                          var map = {};
                          map[filter.field] = filter.value;
                          return map;
                      }
                  }
              },
              schema: {
                  data: 'rows'
              }
          }
      }) ;
      
      $("#feeTypeId").kendoComboBox({
		  valuePrimitive: true,
		  dataTextField: "feeTypeName",
          dataValueField: "feeTypeId",
          dataSource: {
                    transport: {
                    	read:function(options) {
						      $.ajax({
						        type   : "POST",
						        url: "${base.contextPath}/mdm/priceLine/feeTypeQuery",
						        data: {}, 
						        success: function(json) {
						          options.success(json.rows);
						        }
						      });
    					}
                	} 
          }
		});
		
		$("#transType").kendoComboBox({
		  valuePrimitive: true,
		  dataTextField: "meaning",
          dataValueField: "value",
          dataSource: transTypeData
		});
		
		$("#feeStatus").kendoComboBox({
		  valuePrimitive: true,
		  dataTextField: "meaning",
          dataValueField: "value",
          dataSource: feeStatusData
		});
		
		var dataSource = new kendo.data.DataSource({
	        transport   : {
	            read        : {
	                url     : _basePath+"/fin/feeList/feeListQuery",
	                type    : "POST",
	                dataType: "json"
	            },
	            parameterMap: function (options, type) {
	                if (type !== "read" && options.models) {
	                    var datas = Hap.prepareSubmitParameter(options, type)
	                    return kendo.stringify(datas);
	                } else if (type === "read") {
	                	var model = viewModel.model.toJSON();
	                    var map = {};
	                    if(model.companyId){
	                        map.companyId = model.companyId;
	                    }
	                    if(model.projectId){
	                        map.projectId = model.projectId
	                    }
	                    if(model.propertyName){
	                        map.propertyName = model.propertyName
	                    }
	                    if(model.propertyNumber){
	                        map.propertyNumber = model.propertyNumber
	                    }
	                    if(model.feeTypeId){
	                        map.feeTypeId = model.feeTypeId
	                    }
	                    if(model.transType){
	                        map.transType = model.transType
	                    }
	                    if(model.feeListCode){
	                        map.feeListCode = model.feeListCode
	                    }
	                    if(model.feeStatus){
	                        map.feeStatus = model.feeStatus
	                    }
	                    if(model.num){
	                        map.num = model.num
	                    }
	                    if(model.accruedDate){
	                        map.accruedDate = new Date(model.accruedDate);
	                    }
	                    if(model.accruedDate2){
	                        map.accruedDate2 = new Date(model.accruedDate2);
	                    }

						if (options.page) {
							map.page = options.page;
						}
						if (options.pageSize) {
							map.pagesize = options.pageSize;
						}
	                    return map;
	                }
	            }
	        },
	        batch       : true,
	        serverPaging: true,
	        pageSize    : 10,
	        schema      : {
	            data  : 'rows',
	            total : 'total',
	            model : {
	                id    : "feeListId",
	                fields: {
	                	accruedDate: {type:"date"},
	                	dateTo: {type:"date"},
	                	generateDate: {type:"date"},
	                	countedDate: {type:"date"}
	                }
	            }
	        }
	    });
		var grid=$("#fee_list_grid").kendoGrid({
			dataSource : dataSource,
	        navigatable: false,
	        height     : '100%',
	        resizable  : true,
	        scrollable : true,
	        editable   : false,
	        selectable : "single,rowbox",
	        reorderable: true,
	        sortable   : true,
	        columnMenu : true, //实现右击可以隐藏显示列
	        pageable   : {
	            pageSizes  : [5, 10, 20, 50],
	            refresh    : true,
	            buttonCount: 5
	        },
	        columns    : [{
	        	field      : "feeStatusName",
                title      : "<@spring.message 'hpms.mdm.feetype.enableflag'/>", 
                width      : 100,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "feeListCode",
                title      : "<@spring.message 'hpms.fin.feelist.feelistcode'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "propertyNumber",
                title      : "<@spring.message 'hpms.mdm.property.propertynumber'/>", 
                width      : 120,
                attributes : {style: "text-align:center"}
	        },{
	        	field      : "propertyName",
                title      : "<@spring.message 'hpms.mdm.property.propertyname'/>", 
                width      : 120,
                attributes : {style: "text-align:center"}
              
	        },{
	        	field      : "customerName",
                title      : "<@spring.message 'hpms.fin.feelist.customer'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "feePeriod",
                title      : "<@spring.message 'hpms.fin.feelist.feeperiod'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "feeTypeName",
                title      : "<@spring.message 'hpms.mdm.priceline.feetype'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "feeName",
                title      : "<@spring.message 'hpms.mdm.priceline.fee'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "transTypeName",
                title      : "<@spring.message 'hpms.fin.invoice.transtype'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "unitPrice",
                title      : "<@spring.message 'hpms.mdm.priceline.unitprice'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "feeQuantity",
                title      : "<@spring.message 'hpms.fin.feelist.quantity'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "currencyType",
                title      : "<@spring.message 'hpms.mdm.priceline.currency'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "segmentFlag",
                title      : "<@spring.message 'hpms.fin.feelist.segmentflag'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "presentRecord",
                title      : "<@spring.message 'hpms.fin.feelist.presentrecord'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "lastRecord",
                title      : "<@spring.message 'hpms.fin.feelist.lastrecord'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "grossAmount",
                title      : "<@spring.message 'hpms.fin.feelist.grossamount'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "adjAmount",
                title      : "<@spring.message 'hpms.fin.feelist.adjamount'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "overduePayment",
                title      : "<@spring.message 'hpms.fin.feelist.overduepayment'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "totalAmount",
                title      : "<@spring.message 'hpms.fin.feelist.totalamount'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "accruedDate",
                title      : "<@spring.message 'hpms.fin.feelist.accrueddate'/>", 
                width      : 120,
                format: "{0:yyyy-MM-dd}",
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "dateTo",
                title      : "<@spring.message 'hpms.fin.feelist.dateto'/>", 
                width      : 120,
                format: "{0:yyyy-MM-dd}",
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "remark",
                title      : "<@spring.message 'hpms.fin.feelist.remark'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "dataSource",
                title      : "<@spring.message 'hpms.fin.feelist.datasource'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "referenceNumber",
                title      : "<@spring.message 'hpms.fin.feelist.referencenumber'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "payPartRepair",
                title      : "<@spring.message 'hpms.fin.feelist.paypartrepair'/>", 
                width      : 120,
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "generateDate",
                title      : "<@spring.message 'hpms.fin.feelist.generatedate'/>", 
                width      : 120,
                format: "{0:yyyy-MM-dd}",
                attributes  : {style: "text-align:center"}
	        },{
	        	field      : "countedDate",
                title      : "<@spring.message 'hpms.fin.feelist.counteddate'/>", 
                width      : 120,
                format: "{0:yyyy-MM-dd}",
                attributes  : {style: "text-align:center"}
	        }]
			
		}).data("kendoGrid");
		$("#fee_list_grid thead>tr th").css("text-align","center");
	    Hap.autoResizeGrid("#fee_list_grid");
	    
	    function updateData(operation){
         	     //拿到选中的项
         	     var requestData = [];
         	     var checked = grid.selectedDataItems();
                 if(!checked.length)
                 {
                 	kendo.ui.showInfoDialog({
	            		message: $l('hap.tip.selectrow')
	            	});
                 	return;
                 }
                 if(operation=="WITHDRAWING"){
	    		 	$.each(checked,function(i,v){
	    		 		if(v.feeStatus!="CREATED"){
	    		 			kendo.ui.showInfoDialog({
                                title:$l('hap.tip.info'),
                                message:"<@spring.message 'hpms.fin.feelist.status_error'/>"
                            })
                            return;
	    		 		}else{
		                 	viewModel.model.set("grossAmount",v.grossAmount);
		                 	viewModel.model.set("adjAmount",v.adjAmount);
		                 	viewModel.model.set("amount",v.grossAmount+v.adjAmount);
		             	    requestData.push({feeListId:v.feeListId});
		             	    $("#fee_list_form2").show();
	             	    }      	
                 	})
                 	return;
	    		 }else{
		    		 $.each(checked,function(i,v){
	             	    requestData.push({feeListId:v.feeListId});      	
	                 })
	    		 }
                 $.ajax({
                 	url        : _basePath+"/fin/feeList/feeListUpdate?operation="+operation,
                 	data       : kendo.stringify(requestData),
                 	type       : 'post',
                 	contentType: "application/json",
                 	cache      : false,
                 	dataType   : 'json',
                 	success    : function (data) {
                 		if (data.success) {   
                    		kendo.ui.showInfoDialog({
                                title:$l('hap.tip.info'),
                                message:$l('hap.tip.success')
                            }).done(function(e){
                            	$("#fee_list_grid").data('kendoGrid').dataSource.read(1);
                            })
                        } 
                    	else{
                    		kendo.ui.showInfoDialog({
                                title:$l('hap.error'),
                                message:data.message
                            }).done(function(e){
                            	$("#fee_list_grid").data('kendoGrid').dataSource.read(1);
                            })
                    	}
                     	
                 	},
                 	error      : function () {
                    	alert("error");
                 	}
             	  });
                  
            }
            
            function updateData2(operation){
         	     //拿到选中的项
         	     var requestData = [];
         	     var checked = grid.selectedDataItems();
	    		 $.each(checked,function(i,v){
             	    requestData.push({feeListId:v.feeListId,countedDate:viewModel.model.countedDate,remark:viewModel.model.remark});      	
                 })
                 $.ajax({
                 	url        : _basePath+"/fin/feeList/feeListUpdate?operation="+operation,
                 	data       : kendo.stringify(requestData),
                 	type       : 'post',
                 	contentType: "application/json",
                 	cache      : false,
                 	dataType   : 'json',
                 	success    : function (data) {
                 		if (data.success) {   
                    		kendo.ui.showInfoDialog({
                                title:$l('hap.tip.info'),
                                message:$l('hap.tip.success')
                            }).done(function(e){
                            	viewModel.model.set("countedDate",null);
                            	viewModel.model.set("remark","");
                            	$("#fee_list_grid").data('kendoGrid').dataSource.read(1);
                            	$("#fee_list_form2").hide();
                            })
                        } 
                    	else{
                    		kendo.ui.showInfoDialog({
                                title:$l('hap.error'),
                                message:data.message
                            }).done(function(e){
                            	$("#fee_list_grid").data('kendoGrid').dataSource.read(1);
                            })
                    	}
                     	
                 	},
                 	error      : function () {
                    	alert("error");
                 	}
             	  });
                  
            }
	</script>
</body>
</html>