<#--
 * description: 房间选择
 * version: 1.0
 * #copyright#
 *author: jun.guo@hand-china.com 2017.03.10
-->
<#include "../include/header.html">
<body>
<div id="page-content">
	<div id="treeview"></div> 
		
</div>
	<script type="text/javascript" >
	
	var companyId = <#if RequestParameters.companyId?exists>
                                ${RequestParameters.companyId}
                             <#else>-1</#if>;
    var projectId = <#if RequestParameters.projectId?exists>
                                ${RequestParameters.projectId}
                             <#else>-1</#if>;
	
			
	homogeneous = new kendo.data.HierarchicalDataSource({
                      transport: {
                          read: {
                              url: "${base.contextPath}/fin/feeList/structureQuery",
                              data: {companyId:companyId,projectId:projectId},
                              type   : "POST",
                              dataType: "json"
                          }
                      },
                      schema: {
                      	  data:"rows",
                          model: {
                              id: "structureId",
                              hasChildren: "hasChildren",
                              children:"items"
                          }
                      }
                  });
	
	var treeview = $("#treeview").kendoTreeView({
              dataSource:homogeneous,
              dataValueField: "id",
              dataTextField: "structureName",
              select: onSelect
          });
	function onSelect(e){
		var invoiceLineMessage = kendo.stringify(window.parent.newViewModel.model);
		var json = JSON.parse(invoiceLineMessage);
		json.structureId=this.dataItem(e.node).structureId;
		$.ajax({
			url: "${base.contextPath}/hpms/fin/invoice/queryOccupation",
			type:"POST",
			dataType:"json",
			contentType:"application/json",
			data:  kendo.stringify(json),
			success: function(data){
				if (data.success) {
                    //console.log(data.rows[0]);
                    if(data.rows[0]!=null){
                    window.parent.newViewModel.model.set("customerName",data.rows[0].customerName);
                    window.parent.newViewModel.model.set("propertyNumber",data.rows[0].propertyNumber);
                    window.parent.newViewModel.model.set("propertyName",data.rows[0].propertyName);
                    window.parent.newViewModel.model.set("occupationId",data.rows[0].occupationId);
                    //console.log(data.rows[0].occupationId);
                    window.parent.$("#property_tree").data("kendoWindow").close();
                }else{

                    }

				}else{
					window.parent.$("#property_tree").data("kendoWindow").close();
				}
			}});

	}
		
	</script>
</body>
</html>