<#--
 * description: 抄表初始化
 * version: 1.0
 * #copyright#
 * author jun.zhao02@hand-china.com    2017/3/14 10:20:00
-->
<#include "../include/header.html">
<body>
<style type="text/css">
    span.red_text { color: red; font-weight: bold; }
</style>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
    var equipmentId = <#if RequestParameters.equipmentId?exists> ${RequestParameters.equipmentId} <#else>-1</#if>;

    viewModel = kendo.observable({
        model: {
            newRecordFlag : "Y",
            status : "ACTIVE"
        }
    });
    if(equipmentId !=-1){
        $.ajax({
            type   : "POST",
            url: "${base.contextPath}/hpms/fin/pubmeter/init/query",
            data: { equipmentId : equipmentId },
            success: function(json) {
                var row = json.rows[0] || {};
                for (var k in row) {
                    viewModel.model.set(k, row[k]);
                }
                $("#companyFullName").attr("readonly",true).css("background", "#DDDDDD");
                $("#projectName").attr("readonly",true).css("background", "#DDDDDD");
                $("#typeName").attr("readonly",true).css("background", "#DDDDDD");
                $("#equipmentName").attr("readonly",true).css("background", "#DDDDDD");
                $("#crName").attr("readonly",true).css("background", "#DDDDDD");
                $("#meterTotalAmount").attr("readonly",true).css("background", "#DDDDDD");

            }
        });
    }

    function readChange() {
        if (viewModel.model.currentRead=='' || viewModel.model.currentRead==null || viewModel.model.meterTotalUse=='' || viewModel.model.meterTotalUse==null) {
            null;
        }else {
            viewModel.model.set("lastRead", Math.round((viewModel.model.currentRead  - viewModel.model.meterTotalUse)*10,2)/10 );
            viewModel.model.set("meterTotalAmount", Math.round((viewModel.model.currentRead  - viewModel.model.meterTotalUse)*10,2)/10 );
        }


    }

</script>


    <div id="page-content">
            <form class="form-horizontal">

                <div class="col-xs-6" >
                    <div class="form-group">
                        <label class="col-xs-4 control-label"
                               style="text-align: right"><@spring.message "hpms.mdm.project.companyName"/></label>
                        <div class="col-xs-7">
                            <input id="companyFullName" name="companyFullName" type="text" data-bind="value:model.companyFullName" class="k-textbox"
                                   style="width: 100%;">
                            <script>kendo.bind($('#companyFullName'), viewModel);</script>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6" >
                    <div class="form-group">
                        <label class="col-xs-4 control-label"
                               style="text-align: right"><@spring.message "hpms.mdm.project.projectName"/></label>
                        <div class="col-xs-7">
                            <input id="projectName" name="projectName" type="text" data-bind="value:model.projectName" class="k-textbox"
                                   style="width: 100%;">
                            <script>kendo.bind($('#projectName'), viewModel);</script>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6" >
                    <div class="form-group">
                        <label class="col-xs-4 control-label"
                               style="text-align: right"><@spring.message "hpms.mdm.fee.equipmenttype"/></label>
                        <div class="col-xs-7">
                            <input id="typeName" name="typeName" type="text" data-bind="value:model.typeName" class="k-textbox"
                                   style="width: 100%;">
                            <script>kendo.bind($('#typeName'), viewModel);</script>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6" >
                    <div class="form-group">
                        <label class="col-xs-4 control-label"
                               style="text-align: right"><@spring.message "hpms.fin.pubmeter.metername"/></label>
                        <div class="col-xs-7">
                            <input id="equipmentName" name="equipmentName" type="text" data-bind="value:model.equipmentName" class="k-textbox"
                                   style="width: 100%;">
                            <script>kendo.bind($('#equipmentName'), viewModel);</script>
                        </div>
                    </div>
                </div>

                <div class="col-xs-6" >
                    <div class="form-group">
                        <label class="col-xs-4 control-label"
                               style="text-align: right"><@spring.message "hpms.mdm.priceline.calculaterule"/></label>
                        <div class="col-xs-7">
                            <input id="crName" name="crName" type="text" data-bind="value:model.crName" class="k-textbox"
                                   style="width: 100%;">
                            <script>kendo.bind($('#crName'), viewModel);</script>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" >
                    <div class="form-group">
                        <label class="col-xs-2 control-label"
                               style="text-align: right"><@spring.message "hpms.fin.pubmeter.invoicecode"/></label>
                        <div class="col-xs-6">
                            <input id="invoiceCode" name="invoiceCode" type="text" pattern="^[0-9A-Z]+$" required validationMessage="<@spring.message "hpms.fin.pubmeter.invoicelimit"/>" data-bind="value:model.invoiceCode" class="k-textbox"
                                   style="width: 95%;">
                            <span class="red_text">*</span>
                            <script>kendo.bind($('#invoiceCode'), viewModel);</script>
                        </div>
                        <div class="col-xs-4" >
                            <span class="k-invalid-msg" data-for="invoiceCode"></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" >
                    <div class="form-group">
                        <label class="col-xs-2 control-label"
                               style="text-align: right"><@spring.message "hpms.fin.pubmeter.currentRead"/></label>
                        <div class="col-xs-6">
                            <input id="currentRead" name="currentRead" onblur="readChange()" type="text" pattern="^(([0-9]+)|([0-9]+\.[0-9]{1}))$" required validationMessage="<@spring.message "hpms.fin.pubmeter.numberlimit"/>" data-bind="value:model.currentRead" class="k-textbox"
                                   style="width: 95%;">
                            <span class="red_text">*</span>
                            <script>kendo.bind($('#currentRead'), viewModel);</script>
                        </div>
                        <div class="col-xs-4" >
                            <span class="k-invalid-msg" data-for="currentRead"></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" >
                    <div class="form-group">
                        <label class="col-xs-2 control-label"
                               style="text-align: right"><@spring.message "hpms.fin.pubmeter.metertotaluse"/></label>
                        <div class="col-xs-6">
                            <input id="meterTotalUse" name="meterTotalUse" onblur="readChange()" type="text" pattern="^(([0-9]+)|([0-9]+\.[0-9]{1}))$" required validationMessage="<@spring.message "hpms.fin.pubmeter.numberlimit"/>" data-bind="value:model.meterTotalUse" class="k-textbox"
                                   style="width: 95%;">
                            <span class="red_text">*</span>
                            <script>kendo.bind($('#meterTotalUse'), viewModel);</script>
                        </div>
                        <div class="col-xs-4" >
                            <span class="k-invalid-msg" data-for="meterTotalUse"></span>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" >
                    <div class="form-group">
                        <label class="col-xs-2 control-label"
                               style="text-align: right"><@spring.message "hpms.fin.pubmeter.meterTotalAmount"/></label>
                        <div class="col-xs-6">
                            <input id="meterTotalAmount" name="meterTotalAmount" type="text" data-bind="value:model.meterTotalAmount" class="k-textbox"
                                   style="width: 95%;">
                            <script>kendo.bind($('#meterTotalAmount'), viewModel);</script>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12" >
                    <div class="form-group">
                        <label class="col-xs-2 control-label"
                               style="text-align: right"><@spring.message "hpms.fin.pubmeter.readDate"/></label>
                        <div class="col-xs-6">
                            <input id="readDate" name="readDate" type="text" required validationMessage="<@spring.message "hpms.fin.pubmeter.readDate"/><@spring.message "hap.error.nullexception"/>" data-bind="value:model.readDate"
                            style="width: 95%;">
                            <span class="red_text">*</span>
                            <script>kendo.bind($('#readDate'), viewModel);</script>
                        </div>
                        <div class="col-xs-4" >
                            <span class="k-invalid-msg" data-for="readDate"></span>
                        </div>
                    </div>
                </div>

                <div class="text-right" style="bottom: 20px;position: fixed; right: 85px; float: left; background: #fff;">
                    <span class="btn btn-success" id="saveGrid" type="submit"><i class="fa fa-save" style="margin-right:3px;"></i><@spring.message "hap.save"/></span>
                    <span class="btn btn-success" id="closeWin" type="button"><i class="fa fa-times-circle-o" style="margin-right:3px;"></i><@spring.message "hap.cancel"/></span>
                </div>

            </form>
    </div>

    <script type="text/javascript" >

        $('#page-content').kendoValidator();

        $("#closeWin").click(function(){
            window.parent.$("#initWin").data("kendoWindow").close();
        });
        $("#saveGrid").click(function () {
            if(viewModel.model.invoiceCode==''||viewModel.model.invoiceCode==null){
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hpms.fin.pubmeter.invoicecode"/><@spring.message "hap.error.nullexception"/>'
                })
            }else if(! /^[A-Z0-9]+$/.test(viewModel.model.invoiceCode) ){
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hpms.fin.pubmeter.invoicecode"/><@spring.message "hpms.fin.pubmeter.invoicelimit"/>'
                })
            }else if(viewModel.model.currentRead==''||viewModel.model.currentRead==null){
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hpms.fin.pubmeter.currentRead"/><@spring.message "hap.error.nullexception"/>'
                })
            }else if(! /^(([0-9]+)|([0-9]+\.[0-9]{1}))$/.test(viewModel.model.currentRead) ){
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hpms.fin.pubmeter.currentRead"/><@spring.message "hpms.fin.pubmeter.numberlimit"/>'
                })
            }else if(viewModel.model.meterTotalUse==''||viewModel.model.meterTotalUse==null){
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hpms.fin.pubmeter.metertotaluse"/><@spring.message "hap.error.nullexception"/>'
                })
            }else if(! /^(([0-9]+)|([0-9]+\.[0-9]{1}))$/.test(viewModel.model.meterTotalUse) ){
                kendo.ui.showInfoDialog({
                    message:'<@spring.message "hpms.fin.pubmeter.meterTotalUse"/><@spring.message "hpms.fin.pubmeter.numberlimit"/>'
                })
            }else if(viewModel.model.readDate==''||viewModel.model.readDate==null) {
                kendo.ui.showInfoDialog({
                    message: '<@spring.message "hpms.fin.pubmeter.readDate"/><@spring.message "hap.error.nullexception"/>'
                })
            }else {
                viewModel.model.set("initFlag", "N");
                if(viewModel.model.equipmentId != null && viewModel.model.equipmentId != ''){
                    $.ajax({
                        type   : "POST",
                        url: "${base.contextPath}/hpms/fin/meter/read/his/query",
                        data: { equipmentId : viewModel.model.equipmentId },

                        success: function(json) {
                            var row = json.rows[0] || {};
                            for (var k in row) {
                                viewModel.model.set("initFlag", "Y");
                            }
                            if (viewModel.model.get("initFlag") == "N") {
                                viewModel.model.__status = 'add';
                                Hap.submitForm({
                                    url: '${base.contextPath}/hpms/fin/meter/read/his/submit',
                                    formModel: viewModel.model,
                                    success: function (data) {
                                        window.parent.$('#Grid').data('kendoGrid').dataSource.page(1);
                                        window.parent.$("#initWin").data("kendoWindow").close();
                                    }
                                });
                            }else {
                                kendo.ui.showInfoDialog({
                                    message:'<@spring.message "hpms.fin.meter.initlimit"/>'
                                })
                            }
                        }
                    });
                }

            }
        });
        $("#readDate").kendoDatePicker({
            format : "yyyy-MM-dd"
        });

    </script>

</body>
</html>