<#--
        * description: 付款录入界面
        * version: 1.0
        * author: huifang。zhou@hand-china.com
        * #{copyright}#
        *
        -->

<#include "../include/header.html">

<script
        src="${base.contextPath}/common/code?docTypeData=HPMS_TRANS_TYPE_AP">
</script>
<script
        src="${base.contextPath}/common/code?statusData=HPMS_PAYMENT_STATUS">
</script>

<style type="text/css">
    span.red {
        color: red;
        font-weight: bold;
    }
    table tr td {
        width:100px;
        height: 30px;
        text-align: center;
    }
</style>

<script type="text/javascript">

    var type = 'receivable';

    var advanceAmount = 0;

    var viewModel = kendo.observable({
        model: {
            receiptDate:Hap.formatDate(new Date())

        }
    });
    

    function receipt() {

        if (viewModel.model.get("companyId")==null){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.fin.receipt.selectcompany"/>'
            });
            return;
        }

        if (viewModel.model.get("projectId")==null){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.projectprocedure.error"/>'
            });
            return;
        }

        if (viewModel.model.get("customerCode")==null){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.fin.receipt.selectcustomer"/>'
            });
            return;
        }

        if (type==='advance'){

            viewModel.model.set("receiptStatus", "D");

        } else if (type==='receivable') {
            let gridData = $("#receivableGrid").data("kendoGrid").selectedDataItems();
            viewModel.model.set("feeLists",gridData);
            viewModel.model.set("receiptStatus", "C");
        }

        if (type!=='advance'){

            if (viewModel.model.feeLists.length==0){
                kendo.ui.showInfoDialog({
                    title: $l('hap.prompt'),
                    message: '<@spring.message "hpms.mdm.receipt.selectfeelist"/>'
                });
                return;
            }

        }



        if (viewModel.model.get("sumPrice") < viewModel.model.get("receiptAmount")){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.receipt.sumPricemin"/>'
            });
            return;
        }

        if (!viewModel.model.get("receiptAmount") || viewModel.model.get("receiptAmount")<=0){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.receipt.receiptAmountbig"/>'
            });
            return;
        }
        if (!viewModel.model.get("receiptMethod")){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.receipt.selectreceiptmethod"/>'
            });
            return;
        }
        if (!viewModel.model.get("receiptTerm")){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.receipt.selectreceiptterm"/>'
            });
            return;
        }

        viewModel.model.set("transactor","${Session.userName}");
        $.ajax({
            url: '${base.contextPath}/fin/receipt/submit',
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data       : JSON.stringify(viewModel.model),
            success: function (args) {
                if (args.success) {
                    kendo.ui.showInfoDialog({
                        title: $l('hap.prompt'),
                        message: $l('hap.tip.success')
                    }).done(function () {
                        $("#tabstrip").data("kendoTabStrip").select($('#all'));
                    })
                }
            }
        });


    }

    function refund(receiptId) {
        $("#refundId").kendoWindow({
            actions: ["Close"],
            title: '<@spring.message "hpms.mdm.receipt.refund"/>',
            draggable: true,
            height: "450px",
            width: "800px",
            close: function(){
                $("#refundId").empty();
            },
            content: "${base.contextPath}/fin/receipt_refund.html?receiptId="+receiptId,
            iframe: true,
            modal: true
        });

        var win = $("#refundId").data("kendoWindow");
        win.center().open();
    }

</script>
<body>
<div id="refundId" style="display: none"></div>
<div id="page-content">

    <div id="panel" class="panel" style="padding: 0;width: 80%;">
        <div class="panel-body">
            <table class="pull-right">
                <tr>
                    <td><@spring.message "hpms.mdm.receipt.payer"/></td>
                    <td><@spring.message "hpms.mdm.receipt.copydate"/></td>
                </tr>
                <tr>
                    <td>
                        <input id="payer" type="text" style="width:80px;" data-bind="value:model.payer" class="k-textbox">
                        <script>
                        	document.getElementById('payer').onblur=function(){
										var type = viewModel.model.payer;
										$("#customerNameSpan").text(type);
                        			}
                        </script>
                    </td>
                    <td id="makeDateId"></td>
                    <script>
                        $("#makeDateId").text(Hap.formatDate(new Date()));
                    </script>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel" style="padding: 0px;width: 80%;">
        <div class="form-horizontal" id="query-form">
            <div class="panel-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.mdm.occupation.company"/>：</label>
                            <div class="col-sm-8">
                                <input id="companyId" type="text" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.companyId">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.mdm.occupation.project"/>：</label>
                            <div class="col-sm-8">
                                <input id="projectId" type="text" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.projectId">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.mdm.fin.feecode"/>：</label>
                            <div class="col-sm-8">
                                <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.propertyNumber" class="k-textbox" disabled>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.mdm.property.propertyname"/>：</label>
                            <div class="col-sm-8">
                                <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.propertyName" class="k-textbox" disabled>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.mdm.receipt.customercode"/>：</label>
                            <div class="col-sm-8">
                                <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.customerCode" class="k-textbox" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.mdm.customer.customername"/>：</label>
                            <div class="col-sm-8">
                                <input id="customerNameId" type="text" style="width:150px;margin-right:5px;"
                                       data-bind="value:model.customerName">
                            </div>
                        </div>
                    </div>


                </div>

                <div class="row" style="margin-bottom: 10px;">

                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.fin.payment.date"/>：</label>
                            <div class="col-sm-8">
                                <input id="receiptDateId" type="text" style="width:150px;margin-right:5px;"
                                       data-bind="value:model.receiptDate">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.fin.invoice.paymentmethod"/>：</label>
                            <div class="col-sm-8">
                                <input id="paymentMethodId" type="text" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.paymentMethodId">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.fin.invoice.paymentterm"/>：</label>
                            <div class="col-sm-8">
                                <input id="paymentTermId" type="text" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.paymentTermId">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.fin.invoice.invoiceamount"/>：</label>
                            <div class="col-sm-8">
                                <input id="sumPriceInp" type="text" style="width:150px;margin-right:5px;"
                                       data-bind="value:model.sumPrice" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.mdm.payment.rel_pay"/>：</label>
                            <div class="col-sm-8">
                                <input id="receiptAmountInp" type="text" style="width:150px;margin-right:5px;"
                                       data-bind="value:model.receiptAmount">
                                <script>
                                    $("#sumPriceInp").kendoNumericTextBox({});
                                    $("#receiptAmountInp").kendoNumericTextBox({
                                        min: 0,
                                        change: function () {
                                            var value = this.value();
                                            viewModel.model.set("balance", viewModel.model.sumPrice - value);
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label"><@spring.message "hpms.fin.invoice.balance"/>：</label>
                            <div class="col-sm-8">
                                <input id="balanceInp" type="text" style="width:150px;margin-right:5px;"
                                       data-bind="value:model.balance" disabled>
									<script>
                                    $("#balanceInp").kendoNumericTextBox({});
                                </script>
                            </div>
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <div class="pull-left" id="toolbar-btn" style="height: 30px;margin-left:200px;margin-bottom: 10px;">
		 <span id="receiptBtn" class="btn btn-primary k-grid-add"
              style="float: left; margin-right: 5px;" onclick="receipt()">
            <i class="fa fa-pencil-square-o" style="margin-right:3px;"></i>
            <@spring.message "hpms.fin.payment"/>
        </span>
    </div>

	<script>kendo.bind($('#panel'), viewModel);</script>
    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <script>kendo.bind($('#query-form'), viewModel);</script>

    <div id="tabstrip" style="clear:both;">
        <ul class="nav nav-tabs">
            <li id="receivable"><@spring.message "hpms.mdm.paymentmethod.apflag"/></li>
            <li id="advance"><@spring.message "hpms.fin.payment.advance"/></li>
            <li id="all"><@spring.message "hpms.mdm.receipt.all"/></li>
        </ul>
        <!--应收-->
        <div>
            <div id="advanceDiv" style="margin-top: 5px;">
                <input id="advanceId" type="text" style="margin-right:5px;" data-bind="value:model.advanceFlag">
                <@spring.message "hpms.mdm.receipt.advancediv1"/>
                <span style="color: red" id="customerNameSpan"></span>
                <@spring.message "hpms.fin.payment.selections"/>
                <span style="color: red" id="advanceSpan"></span>
                <@spring.message "hpms.mdm.receipt.advancediv3"/>
                <script>
                    $("#advanceId").kendoCheckbox({
                        change:function(e){
                            let value = this.value();
                            if (value==='Y') {

                                var sumPrice = viewModel.model.sumPrice;
                                if (sumPrice < advanceAmount) {
                                    viewModel.model.set("receiptAmount", sumPrice);
                                } else if (sumPrice > advanceAmount) {
                                    viewModel.model.set("receiptAmount", advanceAmount);
                                }
                                viewModel.model.set("operationType", "advanceReceivable");

                            } else {
                                viewModel.model.set("receiptAmount", 0);
                            }

                        }
                    });
                </script>
            </div>
            <div style="clear:both;margin-top: 10px">
                <div id="receivableGrid"></div>
            </div>
        </div>
        <!--预收-->
        <div>
            <div style="clear:both">
                <div id="advanceGrid"></div>
            </div>
        </div>
        <!--所有-->
        <div>
            <div style="clear:both">
                <div id="allGrid"></div>
            </div>
        </div>
    </div>


</div>

<script type="text/javascript">
	$('#page-content').kendoValidator();
    $("#tabstrip").kendoTabStrip({
        animation: {
            open: {
                effects: "fadeIn"
            }
        },
        select: function (e) {
            console.log(e.item.id);
            if (e.item.id==='advance') {
                $('#advanceGrid').data('kendoGrid').dataSource.page(1);


            }

            if (e.item.id==='all') {
                viewModel.model.set("type","all");
                type = 'all';
                $('#allGrid').data('kendoGrid').dataSource.page(1);


            }
            if (e.item.id==='receivable') {
                $.ajax({
                    url: '${base.contextPath}/hpms/fin/payment/query?propertyNumber='+(viewModel.model.propertyNumber),
                    type: "POST",
                    dataType: "json",
                    async:false,
                    contentType: "application/json",
                    success: function (args) {
                        var data = args.rows || [];
                    	console.log(data)
                        invoiceAmount = 0;
                        for (let k of data) {
                            invoiceAmount += k.amount;
                        }
                        if (invoiceAmount > 0) {
                            $("#advanceDiv").show();
                            $("#advanceSpan").text(invoiceAmount);

                        } else {
                            $("#advanceDiv").hide();
                        }
                    }
                });
                $('#receivableGrid').data('kendoGrid').dataSource.page(1);
            }
        }
    });

    $("#receiptDateId").kendoDatePicker({
        format: "yyyy-MM-dd"
    });
	
    $("#customerNameId").kendoLov({
        //三个必须参数：code、contextPath、locale，其他参数    根据实际情况自行设置
        code:"HPMS_RECEIPT_SELECT",
        contextPath:'${base.contextPath}',
        locale:'${base.locale}',
        query:function (e) {
            e.param.projectId = viewModel.model.get("projectId");
        },
        change:function (e) {
          	var customerId = e.sender._dataItem.customerId;
          	if (customerId != null && customerId != '') {
				viewModel.model.set("customerCode",e.sender._dataItem.customerCode);
	            viewModel.model.set("customerId", e.sender._dataItem.customerId);
	            viewModel.model.set("propertyNumber", e.sender._dataItem.propertyNumber);
	            viewModel.model.set("propertyName", e.sender._dataItem.propertyName);
	            viewModel.model.set("occupationId", e.sender._dataItem.occupationId);
	            $("#receivable").removeClass("k-state-active");
	            $("#tabstrip").data("kendoTabStrip").select(0);
	            viewModel.model.set("payer",e.sender._dataItem.customerName);
	            var name = viewModel.model.payer;
	            $("#customerNameSpan").text(name);
	            /* $("#payer").text(e.sender._dataItem.customerName); */
			}else{
				kendo.ui.showInfoDialog({
									message : '<@spring.message "hpms.fin.payment_type.not_customerid"/>'
								});	
				viewModel.model.set("customerCode","");
	            viewModel.model.set("customerId", "");
	            viewModel.model.set("propertyNumber", "");
	            viewModel.model.set("propertyName", "");
	            viewModel.model.set("occupationId", "");
	            viewModel.model.set("payer","");
	            var name = viewModel.model.payer;
	            $("#advanceDiv").hide();
			}
        },
        textField: 'fullName'
    });

    $("#paymentMethodId").kendoDropDownList({
        optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
        dataTextField:"paymentMethodName",
        dataValueField:"paymentMethodCode",
        valuePrimitive:true,
        index:0,
        dataSource: {
            transport: {
                read: {
                    url:"${base.contextPath}/mdm/paymentMethod/paymentMethodQuery",
                    type : "POST"
                },
                contentType : "application/json"
            },
            schema: {
                data: 'rows'
            }
        }
    });

    $("#paymentTermId").kendoDropDownList({
        optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
        dataTextField:"paymentTermName",
        dataValueField:"paymentTermCode",
        valuePrimitive:true,
        index:0,
        dataSource: {
            transport: {
                read: {
                    url:"${base.contextPath}/mdm/paymentTerm/paymentTermQuery",
                    type : "POST"
                },
                contentType : "application/json"
            },
            schema: {
                data: 'rows'
            }
        }
    });

    $("#companyId").kendoDropDownList({
        optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
        dataTextField:"companyFullName",
        dataValueField:"companyId",
        valuePrimitive:true,
        dataSource: {
            transport: {
                read: {
                    url:"${base.contextPath}/fnd/company/query",
                    type : "POST"
                },
                contentType : "application/json"
            },
            schema: {
                data: 'rows'
            }
        }
    });

    $("#projectId").kendoDropDownList({
        optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
        dataTextField:"projectName",
        dataValueField:"projectId",
        cascadeFrom:"companyId",
        valuePrimitive:true,
        dataSource: {
            transport: {
                read: {
                    url:"${base.contextPath}/hpms/mdm/project/query",
                    type : "POST"
                },
                contentType : "application/json",
                parameterMap: function(options, type) {
                    if (type === "read") {
                        return {startDateActive:new Date(),endDateActive:new Date()};
                    }
                }
            },
            schema: {
                data: 'rows'
            }
        },
        select: function (e) {

        }
    });


    $('#query-form input').keydown(function (e) {
        if (e.keyCode == 13) {
            e.target.blur();
            viewModel.queryResource(e);
        }
    });

    var BaseUrl = "${base.contextPath}/hpms/fin/payment";
    var receiptDataSource = new kendo.data.DataSource({
        transport: {
            read: {
            	url: function () {
		                    return BaseUrl + "/query?propertyNumber="+(viewModel.model.propertyNumber);
		                },
		                type: "POST",
		                dataType: "json",
		                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    console.log(datas)
                    return kendo.stringify(datas);
                } else if (type === "read") {
					return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        requestEnd : function(e) {
						if (e.type != "read") {
							dataSource.page(dataSource._page);
						}

					},
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "paymentId",
                fields: {
                	meaning2:{type:"String"}
                }
            }
        }
    });

    $("#receivableGrid").kendoGrid({
        autoBind: false,
        dataSource: receiptDataSource,
        height: '500px',
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable:"multiple,rowbox",
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        editable: false,
        columns: [
            {
                field: "payableCode",
                title: '<@spring.message "hpms.fin.payment.paymentlistcode"/>',
                attributes: {style: "text-align:center"},
                width: 200
            },
            {
                field: "paymentCode",
                title: '<@spring.message "hpms.mdm.receipt.feestatusname"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "paymentCode",
                title: '<@spring.message "hpms.fin.payment.paymentlcode"/>',
                attributes: {style: "text-align:center"},
                width: 150
            },

            {
                field: "status",
                title: '<@spring.message "hpms.fin.payment.ispay"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                template:function (dataItem) {
                    var v = dataItem.status;
                    $.each(statusData,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v || "";
                }
            },

            {
                field: "propertyNumber",
                title: '<@spring.message "hpms.mdm.occupation.propertynumber"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "payDate",
                title: '<@spring.message "hpms.fin.payment.date"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "invoiceAmount",
                title: '<@spring.message "hpms.fin.invoice.lineamount"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "amount",
                title: '<@spring.message "hpms.mdm.receipt.settlementamount"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "meaning2",
                title: '<@spring.message "hpms.fin.invoice.transtype"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "docTypePay",
                title: '<@spring.message "hpms.mdm.receipt.docType"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                template:function (dataItem) {
                    var v = dataItem.docTypePay;
                    $.each(docTypeData,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            console.log(meaning)
                            return v;
                        }
                    });
                    return v || "";
                }
            }
        ],
        dataBound:function (e) {


            $("#receivableGrid .k-rowbox").bind("click", function (e) {
                e.stopPropagation();

                var grid = $("#receivableGrid").data("kendoGrid");

                $(e.target.parentNode.parentNode).toggleClass("k-state-selected");

                // 处理全选框
                var head = $(".k-headbox");
                if (grid.items().length===grid.select().length){
                    if (!head.hasClass("fa fa-check")){
                        head.addClass("fa fa-check");
                    }
                } else {
                    if (head.hasClass("fa fa-check")){
                        head.removeClass("fa fa-check");
                    }
                }

                sumPrice(grid);
            });
        }
    });

    $("#advanceGrid").kendoGrid({
        autoBind: false,
        dataSource: receiptDataSource,
        height: '500px',
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable:"multiple,rowbox",
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        editable: false,
        columns: [
            {
                field: "receiptNum",
                title: '<@spring.message "hpms.mdm.receipt.receiptnum"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "lineNumber",
                title: '<@spring.message "hpms.mdm.receipt.linenumber"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "receiptStatusName",
                title: '<@spring.message "hpms.mdm.receipt.receiptstatusname"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },

            {
                field: "receiptDate",
                title: '<@spring.message "hpms.fin.payment.date"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                format: "{0:yyyy-MM-dd}"
            },
            {
                field: "feeName",
                title: '<@spring.message "hpms.mdm.priceline.fee"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "receiptAmount",
                title: '<@spring.message "hpms.fin.invoice.lineamount"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "transTypeName",
                title: '<@spring.message "hpms.mdm.fee.transtype"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },

            {
                field: "remark",
                title: '<@spring.message "hpms.mdm.occupation.remarks"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "docType",
                title: '<@spring.message "hpms.mdm.receipt.docType"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                template:function (dataItem) {
                    var v = dataItem.docType;
                    $.each(docTypeData,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v || "";
                }
            }
        ]
    });

    $("#allGrid").kendoGrid({
        autoBind: false,
        dataSource: receiptDataSource,
        height: '500px',
        resizable: true,
        scrollable: true,
        navigatable: false,
        selectable:"multiple,rowbox",
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        editable: false,
        columns: [
            {
                field: "feeListCode",
                title: '<@spring.message "hpms.fin.payment.paymentlistcode"/>',
                attributes: {style: "text-align:center"},
                width: 150
            },
            {
                field: "referenceNumber",
                title: '<@spring.message "hpms.fin.payment.paymentlcode"/>',
                attributes: {style: "text-align:center"},
                width: 150
            },
            {
                field: "feeStatusName",
                title: '<@spring.message "hpms.mdm.receipt.feestatusname"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },

            {
                field: "receiptNum",
                title: '<@spring.message "hpms.mdm.receipt.receiptnum"/>',
                attributes: {style: "text-align:center"},
                width: 150
            },
            {
                field: "lineNumber",
                title: '<@spring.message "hpms.mdm.receipt.linenumber"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "receiptStatusName",
                title: '<@spring.message "hpms.mdm.receipt.receiptstatusname"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },

            {
                field: "feePeriod",
                title: '<@spring.message "hpms.fin.feelist.feeperiod"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },

            {
                field: "receiptDate",
                title: '<@spring.message "hpms.fin.payment.date"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                format: "{0:yyyy-MM-dd}"
            },
            {
                field: "feeName",
                title: '<@spring.message "hpms.mdm.priceline.fee"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },

            {
                field: "totalAmount",
                title: '<@spring.message "hpms.fin.invoice.lineamount"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                template:function (dataItem) {
                    let v = dataItem.docType;
                    if (v==='AR'){
                        return dataItem.totalAmount || '';
                    }else {
                        return dataItem.receiptAmount || '';
                    }
                }
            },
            {
                field: "settlementAmount",
                title: '<@spring.message "hpms.mdm.receipt.settlementamount"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "transTypeName",
                title: '<@spring.message "hpms.mdm.fee.transtype"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "adjAmount",
                title: '<@spring.message "hpms.fin.feelist.adjamount"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },

            {
                field: "overduePayment",
                title: '<@spring.message "hpms.fin.feelist.overduepayment"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "remark",
                title: '<@spring.message "hpms.mdm.occupation.remarks"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "docType",
                title: '<@spring.message "hpms.mdm.receipt.docType"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                template:function (dataItem) {
                    var v = dataItem.docType;
                    $.each(docTypeData,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v || "";
                }
            }
        ]
    });


    function sumPrice(grid) {
        var sum = 0;
        var adjAmountSum = 0;
        for (var dataItem of grid.selectedDataItems()){
            adjAmountSum += dataItem.adjAmount;
            sum += dataItem.amount;
        }
        viewModel.model.set("sumPrice",sum.toFixed(2));
        viewModel.model.set("adjAmount",adjAmountSum.toFixed(2));
    }

    $("thead>tr th").css("text-align","center");

    $("#receivableGrid .k-headbox").on("click", function (e) {
        // 阻止事件冒泡
        e.stopPropagation();

        // 打钩
        $(e.target).toggleClass("fa fa-check");

        var grid = $("#receivableGrid").data("kendoGrid");

        //  处理每一行的checkbox
        var arr = grid.items();
        for(var node of arr){
            if ($(e.target).hasClass("fa fa-check")){
                if (!$(node).hasClass("k-state-selected")){
                    $(node).addClass("k-state-selected")
                }
            }else {
                if ($(node).hasClass("k-state-selected")){
                    $(node).removeClass("k-state-selected")
                }
            }
        }

        sumPrice(grid);
    });
</script>
</body>
</html>