<#--
        * description: 添加收费项目界面
        * version: 1.0
        * author: feng.liu01@hand-china.com
        * #{copyright}#
        *
        -->

<#include "../include/header.html">

<script
        src="${base.contextPath}/common/code?transTypeData=HPMS_TRANS_TYPE">
</script>


<script type="text/javascript">

    var transType = '${RequestParameters.transType}';


    function receipt() {
        var model = window.parent.viewModel.model;

        var feeList = [];
        for (let data of dataSource.data()){
            if (data.settlementAmount>0){
                feeList.push(data);
            }
        }
        model.set("feeLists",feeList);
        model.set("transactor","${Session.userName}");
        model.set("receiptAmount",$("#totalAmountId").text());
        if ("RECEIVABLE"===transType){
            model.set("receiptStatus", "C");
        }else if("DEPOSIT"===transType) {
            model.set("receiptStatus", "A");
        }
        $.ajax({
            url: '${base.contextPath}/fin/receipt/submit',
            type: "POST",
            dataType: "json",
            contentType: "application/json",
            data       : JSON.stringify(model),
            success: function (args) {
                if (args.success) {
                    model.set("feeLists",null);
                    kendo.ui.showInfoDialog({
                        title: $l('hap.prompt'),
                        message: $l('hap.tip.success')
                    }).done(function () {
                        window.parent.$("#addFeeId").data("kendoWindow").close();
                    });
                } else {
                    kendo.ui.showInfoDialog({
                        title: $l('hap.prompt'),
                        message: '<@spring.message "hpms.mdm.receipt.error"/>'
                    });
                }
            }
        });

    }

    function closeWindow() {
        window.parent.$("#addFeeId").data("kendoWindow").close();
    }

    $(document).ready(function () {
        $('#Grid').data('kendoGrid').addRow();
    })

</script>
<body>
<div id="page-content">


    <div style="clear:both">
        <div id="Grid"></div>
    </div>

    <div style="clear:both">
        <h4><@spring.message "hpms.mdm.receipt.sumprice"/>：<span id="totalAmountId">0</span></h4>
    </div>

    <div style="float: right;margin-top: 10px">
        <span class="btn btn-primary"
              style="margin-right: 5px;" onclick="receipt()">
            <i class="fa fa-pencil-square-o" style="margin-right:3px;"></i>
            <@spring.message "hpms.mdm.receipt.receipt"/>
        </span>

        <span class="btn btn-primary"
              style="margin-right: 5px;" onclick="closeWindow()">
            <i class="fa fa-trash-o" style="margin-right:3px;"></i>
            <@spring.message "hap.cancel"/>
        </span>
    </div>

</div>

<script type="text/javascript">

    var BaseUrl = "${base.contextPath}/fin/receipt",
    dataSource = new kendo.data.DataSource({
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "receiptId",
                fields: {
                    transType: {type: "string"},
                    unitPrice:{type: "number",defaultValue:0},
                    feeQuantity:{type: "number",defaultValue:1},
                    settlementAmount:{type: "number",defaultValue:0}
                }
            }
        }
    });

    $("#Grid").kendoGrid({
        dataSource: dataSource,
        height: '200px',
        resizable: true,
        scrollable: true,
        navigatable: false,
        autoBind: false,
        editable:"inline",
        columns: [
            {
                field: "feeId",
                title: '<@spring.message "hpms.mdm.priceline.fee"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                editor:function (container, options) {
                    $('<input style="width: 90%;" ' +
                        'name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
                            dataTextField: "feeName",
                            dataValueField: "feeId",
                            valuePrimitive:true,
                            dataSource: {
                                transport: {
                                    read: {
                                        url:"${base.contextPath}/mdm/priceLine/feeQuery?transType="+transType,
                                        type : "POST"
                                    },
                                    contentType : "application/json"
                                },
                                schema: {
                                    data: 'rows'
                                }
                            },
                            select:function (e) {
                                options.model.set("feeName",e.dataItem.feeName);
                                let transType = e.dataItem.transType;

                                options.model.set("transType", transType);

                                $.each(transTypeData,function(i,n){
                                    if((n.value||'').toLowerCase() == (transType||'').toLowerCase()){
                                        transType = n.meaning;
                                    }
                                });

                                $("[data-container-for='transType']").text(transType);
                            }
                        });
                },
                template:function (dataItem) {
                    return dataItem.feeName || '';
                }
            },
            {
                field: "transType",
                title: '<@spring.message "hpms.mdm.fee.transtype"/>',
                attributes: {style: "text-align:center"},
                width: 80,
                editor:function (container, options) {

                },
                template:function (dataItem) {
                    var v = dataItem.transType;
                    $.each(transTypeData,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v || "";
                }
            },
            {
                field: "unitPrice",
                title: '<@spring.message "hpms.mdm.priceline.unitprice"/>',
                attributes: {style: "text-align:center"},
                width: 100,
                editor:function (container, options) {
                    $('<input style="width: 90%;" ' +
                        'name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoNumericTextBox({
                            min:0,
                            change:function () {
                                var value = this.value();
                                value *= options.model.get("feeQuantity");
                                options.model.set("settlementAmount", value);
                            }
                        });
                }
            },
            {
                field: "feeQuantity",
                title: '<@spring.message "hpms.fin.feelist.quantity"/>',
                attributes: {style: "text-align:center"},
                width: 100,
                editor:function (container, options) {
                    $('<input style="width: 90%;" ' +
                        'name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoNumericTextBox({
                            min:0,
                            change:function () {
                                var value = this.value();
                                value *= options.model.get("unitPrice");
                                options.model.set("settlementAmount", value);
                            }
                        });
                }
            },
            {
                field: "receiptMethod",
                title: '<@spring.message "hpms.mdm.receipt.receiptmethod"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                editor:function (container, options) {
                    $('<input id="feeTypeId" style="width: 90%;" ' +
                        'name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoDropDownList({
                            dataTextField:"paymentMethodName",
                            dataValueField:"paymentMethodCode",
                            valuePrimitive:true,
                            dataSource: {
                                transport: {
                                    read: {
                                        url:"${base.contextPath}/mdm/paymentMethod/paymentMethodQuery",
                                        type : "POST"
                                    },
                                    contentType : "application/json"
                                },
                                schema: {
                                    data: 'rows'
                                }
                            },
                            select:function (e) {
                                options.model.set("paymentMethodName",e.dataItem.paymentMethodName);
                            }
                        });
                },
                template:function (dataItem) {
                    return dataItem.paymentMethodName || '';
                }
            },
            {
                field: "settlementAmount",
                title: '<@spring.message "hpms.fin.invoice.lineamount"/>',
                attributes: {style: "text-align:center"},
                width: 100,
                editor:function (container, options) {
                    $('<input readonly style="width: 90%;" ' +
                        'name="' + options.field + '"/>')
                        .appendTo(container)
                        .kendoNumericTextBox({

                        })
                }
            },
            {
                field: "description",
                title: '<@spring.message "hpms.mdm.occupation.remarks"/>',
                attributes: {style: "text-align:center"},
                width: 80
            },
            {
                field: "insert",
                title: '<@spring.message "hpms.mdm.receipt.insert"/>',
                attributes: {style: "text-align:center"},
                width: 80,
                editor:function (container, options) {
                    $('<span class="btn btn-primary" onclick="insertData()"><@spring.message "hpms.mdm.receipt.insert"/></span>')
                        .appendTo(container)
                },
                template:function (dataItem) {
                    return '<@spring.message "hpms.mdm.receipt.inserted"/>';
                }
            }
        ]
    });

    function insertData() {
        var grid = $('#Grid').data('kendoGrid');

        // 校验数据
        var newData = dataSource.data()[0];

        if (newData.unitPrice<=0){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.receipt.unitpricebig"/>'
            });
            return;
        }

        if (!newData.receiptMethod){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.receipt.selectreceiptmethod"/>'
            });
            return;
        }

        if (!newData.feeId && !newData.description){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.receipt.inputtype"/>'
            });
            return;
        }

        if (!Number.isInteger(newData.feeQuantity)){
            kendo.ui.showInfoDialog({
                title: $l('hap.prompt'),
                message: '<@spring.message "hpms.mdm.receipt.feeQuantityint"/>'
            });
            return;
        }

        grid.saveChanges();
        grid.addRow();
        let sum = 0;
        for (let data of dataSource.data()){
            sum += data.settlementAmount;
        }
        $("#totalAmountId").text(sum.toFixed(2));
    }

    $("#Grid thead>tr th").css("text-align","center");

</script>
</body>
</html>