<#include "../include/header.html">
    <body>
    <script src="${base.contextPath}/common/code?resourceTypeData=HPMS_CR_OBJECT" type="text/javascript"></script>
    <style>
        .red {
            color: red;
            position: absolute;
            margin-top: 22px;
        }
    </style>
    <script type="text/javascript">
        // 初始化viewModel
        var viewModel = kendo.observable({
            model: {},
            // 将快码的值设为全局变量
            typeResource: resourceTypeData,
            // 条件查询
            queryResource: function (e) {
                $("#grid").data("kendoGrid").dataSource.page(1);
            },
            // 新增函数
            createFunction: function () {
                $('#grid').data('kendoGrid').addRow();
            },
            // 重置查询框
            resetForm: function (e) {
                var formDate = viewModel.model.toJSON();
                for (var k in formDate) {
                    viewModel.model.set(k, null);
                }
                $("#grid").data("kendoGrid").dataSource.page(1);
            },
        });
        var companyArray = [];
        var projectArray = null;
        var equipmentArray = null;
        $.ajax({
            type: "GET",
            url: "${base.contextPath}/fnd/company/query",
            data: '',
            async: false,
            success: function (args) {
                ca = args.rows;
                for (var key in args.rows) {
                    if (args.rows[key].parentCompanyId != null) {
                        companyArray.push(args.rows[key]);
                    }
                }
            }
        });
        $.ajax({
            type: "GET",
            url: "${base.contextPath}/fin/charge/qq",
            data: '',
            async: false,
            success: function (args) {
                projectArray = args.rows;
            }
        });
        console.log(projectArray)
        $.ajax({
            type: "GET",
            url: "${base.contextPath}/mdm/equipmentType/query",
            data: '',
            async: false,
            success: function (args) {
                equipmentArray = args.rows;
            }
        })
        var cp = [];
        var epp = [];
        for (var com in companyArray) {
            var com_pro = new Object();
            com_pro.companyId = companyArray[com].companyId;
            com_pro.companyFullName = companyArray[com].companyFullName;
            var proo = [];
            for (var pro in projectArray) {
                if (projectArray[pro].companyId == com_pro.companyId) {
                    var proj = new Object();
                    proj.projectId = projectArray[pro].projectId;
                    proj.projectName = projectArray[pro].projectName;
                    proo.push(proj);
                    com_pro.proo = proo;
                }
            }
            cp.push(com_pro);
        }
        for (var k in equipmentArray) {
            if (equipmentArray[k].typeAttribute == "CUSTOMER METER") {
                epp.push(equipmentArray[k]);
            }
            if (equipmentArray[k].typeAttribute == "PUBLIC METER") {
                epp.push(equipmentArray[k]);
            }
        }
        var crcode = {};
        function isHave(_o) {
            for (var k in crcode) {
                if (crcode[k].crCode == _o) {
                    kendo.ui.showWarningDialog({
                        message: '该计费规则已存在!'
                    });
                    $("#editCode").val(null);
                }
            }
        }
        function isActive(_o) {
            kendo.ui.showWarningDialog({
                message: "该计费规则下有未冻结的抄表记录,不允许失效操作!"
            });
        }

    </script>
    <div id="page-content">
        <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
            <form class="form-horizontal" id="query-form" style="margin-top: 1px;">
                <div class="panel-body">
                    <div class="row" style="margin-bottom: 5px;">
                        <!-- 公司 -->
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">公司</label>
                                <div class="col-sm-8">
                                    <input id="company" type="text" style="width: 160px"
                                           data-bind="value:model.companyId">
                                </div>
                                <script>
                                    $("#company").kendoDropDownList({
                                        optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
                                        dataTextField: "companyFullName",
                                        dataValueField: "companyId",
                                        valuePrimitive: true,
                                        dataSource: {
                                            transport: {
                                                read: {
                                                    url: "${base.contextPath}/fnd/company/query",
                                                    type: "POST"
                                                },
                                                contentType: "application/json"
                                            },
                                            schema: {
                                                data: 'rows'
                                            }
                                        }
                                    });
                                </script>
                            </div>
                        </div>
                        <!-- 项目 -->
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">项目</label>
                                <div class="col-sm-8">
                                    <input id="project" type="text" style="width: 160px"
                                           data-bind="value:model.projectId">
                                </div>
                                <script>
                                    $("#project").kendoDropDownList({
                                        optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
                                        dataTextField: "projectName",
                                        dataValueField: "projectId",
                                        cascadeFrom: "company",
                                        cascadeFromField: "companyId",
                                        valuePrimitive: true,
                                        dataSource: {
                                            transport: {
                                                read: {
                                                    url: "${base.contextPath}/hpms/mdm/project/query",
                                                    type: "POST"
                                                },
                                                contentType: "application/json",
                                                parameterMap: function (options, type) {
                                                    if (type === "read") {
                                                        return {startDateActive: new Date(), endDateActive: new Date()};
                                                    }
                                                }
                                            },
                                            schema: {
                                                data: 'rows'
                                            }
                                        },
                                    });
                                </script>
                            </div>
                        </div>
                        <!-- 仪表类型 -->
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">仪表类型</label>
                                <div class="col-sm-8">
                                    <input id="equipmentType" type="text" style="width: 160px"
                                           data-bind="value:model.equipmentTypeId">
                                </div>
                                <script>
                                    $("#equipmentType").kendoComboBox({
                                        optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
                                        autoBind: false,
                                        valuePrimitive: true,
                                        cascadeFrom: "project",  //联动绑定的参数
                                        cascadeFromField: "projectId",
                                        dataTextField: "typeName",
                                        dataValueField: "equipmentTypeId",
                                        index:-1,
                                        dataSource: {
                                            serverFiltering: true,
                                            transport: {
                                                read: {
                                                    url: "${base.contextPath}/fin/metershareresult/queryEquipmentId",
                                                    type: "POST"
                                                },
                                                contentType: "application/json",
                                                parameterMap: function (options, type) {
                                                    if (type === "read") {
                                                        var filter = options.filter.filters[0]
                                                        var map = {};
                                                        map[filter.field] = filter.value;
                                                        return map;
                                                    }
                                                }
                                            },
                                            schema: {
                                                data: 'rows'
                                            }
                                        },
                                    });
                                </script>
                            </div>
                        </div>
                        <!-- 计费维度 -->
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">计费维度</label>
                                <div class="col-sm-8">
                                    <input id="ob" type="text" style="width: 160px"
                                           data-bind="value:model.crObject">
                                </div>
                                <script>
                                    // 计费维度下拉框
                                    $("#ob").kendoDropDownList({
                                        optionLabel: "--请选择--",
                                        dataTextField: "meaning",
                                        dataValueField: "value",
                                        valuePrimitive: true,
                                        dataSource: resourceTypeData,
                                        index: -1,
                                    });
                                </script>
                            </div>
                        </div>
                        <br/>
                        <!-- 计费规则 -->
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">计费规则</label>
                                <div class="col-sm-8">
                                    <input type="text" style="width: 160px"
                                           data-bind="value:model.crName" class="k-textbox">
                                </div>
                            </div>
                        </div>
                        <!-- 启用状态 -->
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="col-sm-4 control-label">启用状态</label>
                                <div class="col-sm-8">
                                    <input id="enable" type="text" style="width: 160px"
                                           data-bind="value:model.enableFlag">
                                </div>
                                <script>
                                    // 启用状态下拉框
                                    $("#enable").kendoDropDownList({
                                        optionLabel: "--请选择--",
                                        dataSource: ["启用", "失效"],
                                        index: -1,
                                        change: function () {
                                            if (this.value() == "启用") {
                                                viewModel.model.enableFlag = 'Y'
                                            } else {
                                                viewModel.model.enableFlag = 'N'
                                            }
                                        }
                                    })
                                </script>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                        <!-- 查询框按钮 -->
                        <div style="float:left;margin-top: 20px">
                            <span onclick="viewModel.createFunction()" class="btn btn-info"
                                  style="float:left;margin-right:5px;margin-left:-15px;width: 70px"><i
                                    class="fa fa-plus-square" style="margin-right:3px;"></i>
	<@spring.message "hap.new"/></span>
                            <span class="btn btn-primary" style="width: 70px;float:left;margin-right:5px;"
                                  data-bind="click:queryResource"
                                  type="submit"><i class="fa fa-search" style="margin-right:3px;"></i><@spring.message "hap.query"/></span>
                            <span class="btn btn-default" style="float:left;width:70px" data-bind="click:resetForm"
                                  type="button"><i class="glyphicon glyphicon-erase" style="margin-right:3px;"></i><@spring.message "hap.reset"/></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- gird组件 -->
        <div>
            <div id="grid" style="margin-top: -20px;"></div>
        </div>
    </div>
    <script>
        // 绑定查询框
        kendo.bind($('#query-form'), viewModel);
        // 当前路径
        var crudServiceBaseUrl = '${base.contextPath}/fin/charge';
        // 定义数据源
        var dataSource = new kendo.data.DataSource({
            transport: {
                read: {
                    url: crudServiceBaseUrl + "/query",
                    type: "GET",
                    dataType: "json"
                },
                create: {
                    url: crudServiceBaseUrl + "/add",
                    contentType: "application/json",
                    type: "POST"
                },
                update: {
                    url: crudServiceBaseUrl + "/update",
                    contentType: "application/json",
                    type: "POST"
                },
                destroy: {
                    url: crudServiceBaseUrl + "/delete",
                    contentType: "application/json",
                    type: "DELETE"
                },
                parameterMap: function (options, type) {
                    if (type !== "read" && options.models) {
                        var datas = Hap.prepareSubmitParameter(options, type);
                        return kendo.stringify(datas);
                    } else if (type === "read") {
                        return Hap.prepareQueryParameter(viewModel.model.toJSON(), options);
                    }
                },
            },
            requestEnd: function (e) {
                if (e.type == 'read') {
                    crcode = e.response.rows;
                } else if (e.type == 'create' && e.response.success == true) {
                    kendo.ui.showInfoDialog({
                        message: '添加成功!'
                    });
                } else if (e.type == 'update' && e.response.success == true) {
                    kendo.ui.showInfoDialog({
                        message: '更新成功!'
                    });
                } else if (e.type = "delete" && e.response.success == true) {
                    kendo.ui.showInfoDialog({
                        message: e.response.message
                    });
                    $('#grid').data('kendoGrid').dataSource.read();
                } else {
                    $('#grid').data('kendoGrid').dataSource.read();
                }
            },
            batch: true,
            serverPaging: true,
            pageSize: 10,
            schema: {
                data: 'rows',
                total: 'total',
                model: {
                    id: "chargeRuleId",
                    fields: {
                        enableFlag: {
                            defaultValue: 'N',
                            type: 'boolean',
                            checkedValue: 'Y',
                            uncheckedValue: 'N'
                        },
                    },
                }
            }
        });
        var grid = $('#grid').kendoGrid({
            dataSource: dataSource,
            height: '100%',
            resizable: false,
            scrollable: true,
            selectable: 'row',
            editable: "inline",
            sortable: true,
            navigatable: false,
            reorderable: true,
            pageable: {
                // 分页类别
                pageSizes: [5, 10, 20, 50],
                // 刷新按钮
                refresh: true,
                // 最大显示页面数
                buttonCount: 5
            },
            columns: [
                {
                    title: '操作',
                    attributes: {style: "text-align:center"},
                    command: [{
                        name: "查",
                        text: "<i class='fa fa-search'></i>",
                        click: function (e) {
                            var tr = $(e.target).closest("tr");
                            var dataItem = this.dataItem(tr);
                            parent.openTab("set_" + dataItem.chargeRuleId, dataItem.crName, "${base.contextPath}/fin/time_cal.html/?chargeRuleId=" + dataItem.chargeRuleId);
                        }
                    },
                        {name: "edit"}
                    ],
                    width: '12%'
                },
                {
                    field: "companyId",
                    title: '公司',
                    width: '12%',
                    attributes: {style: "text-align:center"},
                    template: function (rowdata) {
                        for (var k in companyArray) {
                            if (companyArray[k].companyId == rowdata.companyId) {
                                return companyArray[k].companyFullName
                            }
                        }
                    },
                    editor: function (container, options) {
                        $('<input id="comp" required type="text" validationMessage="必填" name="' + options.field + '"/><span class="red">*</span>').appendTo(container)
                        $("#comp").kendoDropDownList({
                            optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
                            dataTextField: "companyFullName",
                            dataValueField: "companyId",
                            valuePrimitive: true,
                            dataSource: {
                                transport: {
                                    read: {
                                        url: "${base.contextPath}/fnd/company/query",
                                        type: "POST"
                                    },
                                    contentType: "application/json"
                                },
                                schema: {
                                    data: 'rows'
                                }
                            },
                            change: function (e) {
                                $("#code_edit").parent().children().children(".k-input").val(null);
                                $("#code_edit").parent().children().children(".k-input").text(null);
                                $("#name_edit").val(null);
                                $("#name_edit").text(null);
                            }
                        }).data("kendoDropDownList");
                        kendo.bind($('#comp'), viewModel);
                    }
                },
                {
                    field: "projectId",
                    title: '项目',
                    width: '12%',
                    attributes: {style: "text-align:center"},
                    template: function (rowdata) {
                        for (var k in projectArray) {
                            if (projectArray[k].projectId == rowdata.projectId) {
                                return projectArray[k].projectName
                            }
                        }
                    },
                    editor: function (container, options) {
                        $('<input id="pro" required type="text" validationMessage="必填" name="' + options.field + '"/><span class="red">*</span>').appendTo(container)
                        $pro1 = $("#pro").kendoDropDownList({
                            optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
                            dataTextField: "projectName",
                            dataValueField: "projectId",
                            cascadeFrom: "comp",
                            cascadeFromField: "companyId",
                            valuePrimitive: true,
                            index: -1,
                            dataSource: {
                                transport: {
                                    read: {
                                        url: "${base.contextPath}/hpms/mdm/project/query",
                                        type: "POST"
                                    },
                                    contentType: "application/json",
                                    parameterMap: function (options, type) {
                                        if (type === "read") {
                                            return {startDateActive: new Date(), endDateActive: new Date()};
                                        }
                                    }
                                },
                                schema: {
                                    data: 'rows'
                                }
                            },
                        }).data("kendoDropDownList");
                        kendo.bind($('#pro'), viewModel);
                    }
                },
                {
                    field: "equipmentTypeId",
                    title: '仪表类型',
                    attributes: {style: "text-align:center"},
                    width: '12%',
                    template: function (rowdata) {
                        for (var k in epp) {
                            if (epp[k].equipmentTypeId == rowdata.equipmentTypeId) {
                                return epp[k].typeName
                            }
                        }
                    },
                    editor: function (container, options) {
                        $('<input id="equip" required type="text" validationMessage="必填" name="' + options.field + '"/><span class="red">*</span>').appendTo(container)
                        $("#equip").kendoDropDownList({
                            optionLabel: '<@spring.message "hpms.mdm.equipmenttype.select"/>',
                            autoBind: false,
                            valuePrimitive: true,
                            cascadeFrom: "pro",  //联动绑定的参数
                            cascadeFromField: "projectId",
                            dataTextField: "typeName",
                            dataValueField: "equipmentTypeId",
                            index:-1,
                            dataSource: {
                                serverFiltering: true,
                                transport: {
                                    read: {
                                        url: "${base.contextPath}/fin/metershareresult/queryEquipmentId",
                                        type: "POST"
                                    },
                                    contentType: "application/json",
                                    parameterMap: function (options, type) {
                                        if (type === "read") {
                                            var filter = options.filter.filters[0]
                                            var map = {};
                                            map[filter.field] = filter.value;
                                            return map;
                                        }
                                    }
                                },
                                schema: {
                                    data: 'rows'
                                }
                            },
                        }).data("kendoDropDownList");
                    },
                },
                {
                    field: "crObject",
                    title: '计费维度',
                    attributes: {style: "text-align:center"},
                    width: '12%',
                    template: function (rowdata) {
                        for (var k in resourceTypeData) {
                            if (resourceTypeData[k].value == rowdata.crObject) {
                                return resourceTypeData[k].meaning
                            }
                        }
                    },
                    editor: function (container, options) {
                        if (options.model.chargeRuleId == "") {
                            $('<input type="text" style="width: 120px" name="' + options.field + '"/>')
                                .appendTo(container)
                                .kendoDropDownList({
                                    dataTextField: "meaning",
                                    dataValueField: "value",
                                    valuePrimitive: true,
                                    dataSource: resourceTypeData,
                                    index: -1,
                                });
                        } else {
                            for (var k in resourceTypeData) {
                                if (resourceTypeData[k].value == options.model.crObject) {
                                    $('<span>' + resourceTypeData[k].meaning + '</span>')
                                        .appendTo(container)
                                }
                            }
                        }
                    },
                },
                {
                    field: "crCode",
                    title: '计费规则编码',
                    width: '10%',
                    attributes: {style: "text-align:center"},
                    editor: function (container, options) {
                        if (options.model.chargeRuleId == "") {
                            $('<input id="editCode" onchange="isHave(this.value)" required type="text" class="k-textbox" validationMessage="大写,数字和_" pattern="^[A-Z0-9_]+$" name="' + options.field + '"/><span class="red">*</span>').appendTo(container)
                        } else {
                            $('<span>' + options.model.crCode + '</span>')
                                .appendTo(container)
                        }
                    },
                },
                {
                    field: "crName",
                    title: '计费规则',
                    width: '12%',
                    attributes: {style: "text-align:center"},
                    editor: function (container, options) {
                            $('<input required type="text" class="k-textbox" validationMessage="必填" name="' + options.field + '"/><span class="red">*</span>').appendTo(container)
                    },
                },
                {
                    field: "enableFlag",
                    title: '启用状态',
                    width: '10%',
                    attributes: {style: "text-align:center"},
                    editor: function (container, options) {
                        if (options.model.chargeRuleId == "") {
                            $('<span tabindex="0" class="k-checkbox k-state-default fa fa-check"><input type="checkbox" name="enableFlag" data-type="boolean" data-bind="checked:enableFlag" data-role="checkbox" value="' + options.model.enableFlag + '" style="display: none;" class="k-valid"></span>').appendTo(container)
                        } else if (options.model.enableFlag == "Y") {
                            $.ajax({
                                type: "GET",
                                url: crudServiceBaseUrl + "/find?chargeRuleId=" + options.model.chargeRuleId,
                                data: '',
                                async: false,
                                success: function (args) {
                                    if (args.success == false) {
                                        $('<span onmouseover="isActive()" tabindex="0" class="k-checkbox k-state-default fa fa-check"><input disabled type="checkbox" name="enableFlag" data-type="boolean" data-bind="checked:enableFlag" data-role="checkbox" value="' + options.model.enableFlag + '" style="display: none;" class="k-valid"></span>').appendTo(container)
                                    } else {
                                        $('<span tabindex="0" class="k-checkbox k-state-default fa fa-check"><input type="checkbox" name="enableFlag" data-type="boolean" data-bind="checked:enableFlag" data-role="checkbox" value="' + options.model.enableFlag + '" style="display: none;" class="k-valid"></span>').appendTo(container)
                                    }
                                }
                            });
                        } else {
                            $('<span tabindex="0" class="k-checkbox k-state-default fa fa-check"><input type="checkbox" name="enableFlag" data-type="boolean" data-bind="checked:enableFlag" data-role="checkbox" value="' + options.model.enableFlag + '" style="display: none;" class="k-valid"></span>').appendTo(container)
                        }
                    },
                },
            ],
        }).data("kendoGrid");
        // 自动填充界面
        Hap.autoResizeGrid("#grid");
        // 标题居中
        $("#grid thead>tr th").css("text-align", "center");
    </script>
    </body>