<#--
        * description: 建筑版本界面
        * author:fuchun.hu@hand-china.com
        * version: 1.0
        *
        -->
    <#include "../include/header.html">
  <body>
  <style>
      span[class='k-window-title'] {
          user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          -webkit-user-select: none;
          -webkit-touch-callout: none;
      }

      span[class^="l-icon-"] {
          width: 20px;
          height: 16px;
          overflow: hidden;
          display: inline-block;
      }

  </style>

  <script type="text/javascript">
      var viewModel = kendo.observable({
          model:{},

          //查询
          queryResource: function(e) {
              $('#grid').data('kendoGrid').dataSource.page(1);
          },

          //重置
          resetForm : function(e) {
              var formData = viewModel.model.toJSON();
              for ( var k in formData) {
                  viewModel.model.set(k, null);
              }
          },

          //新建
          createFunction: function(){
              $('#grid').data('kendoGrid').addRow();
          },


      });

  </script>

  <!--********************我是查询字段分割线*******************************-->
  <div id="page-content">
      <div class="panel" style="padding: 0px;border:none;box-shadow: none;">
          <form class="form-horizontal" id="query-form" style="margin-top: 1px;">
              <div class="panel-body">

                  <div class="row" style="margin-bottom: 5px;">
                      <!-- 公司 -->
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class="col-sm-4 control-label">公司</label>
                              <div class="col-sm-8">
                                  <input type="text" id="companyId" style="width: 160px"
                                         data-bind="value:model.companyId"
                                         class="k-textbox">
                              </div>
                          </div>
                      </div>

                      <!-- 项目 -->
                      <div class="col-sm-4">
                          <div class="form-group">
                              <label class="col-sm-4 control-label">项目</label>
                              <div class="col-sm-8">
                                  <input type="text" id="projectId" style="width: 160px"
                                         data-bind="value:model.projectId"
                                         class="k-textbox">
                              </div>
                          </div>
                      </div>


                      <div >
                          <span class="btn btn-primary" data-bind="click:queryResource" style="width: 70px;float:left;margin-right:5px;" type="submit">查询</span>
                          <span class="btn btn-default" style="float:left;width:70px"  data-bind="click:resetForm" type="button">重置</span>
                      </div>
                      <div style="clear:both"></div>
                  </div>
          </form>
      </div>


      <div class="pull-left" id="toolbar-btn" style="padding-bottom:10px;margin-left:15px;">
          <span class="btn btn-primary" style="margin-left:15px;" data-bind="click:createFunction">新建</span>
      </div>
      <div style="clear: both;">
          <div id="grid"></div>
      </div>
  </div>

  <!--*******************我是grid显示分割线************************-->
    <script>

    </script>


  </body>
