<#include "../include/header.html">

<script
        src="${base.contextPath}/common/code?enableFlagData=MDM.ENABLE_FLAG">
</script>
<style type="text/css">
    span.red {
        color: red;
        font-weight: bold;
    }
</style>
<script type="text/javascript">
    var viewModel = kendo.observable({
        model: {},
        createFunction: function () {
            $('#Grid').data('kendoGrid').addRow();
        },
        saveFunction: function () {
            $('#Grid').data('kendoGrid').saveChanges();
        },
        queryResource: function (e) {
            $('#Grid').data('kendoGrid').dataSource.page(1);
        }
    });
</script>
<body>
<div id="page-content">
    <div class="panel" style="padding: 0px;border:none;box-shadow: none;width: 80%;">
        <div class="form-horizontal" id="query-form">
            <div class="panel-body">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label">编码：</label>
                                <div class="col-sm-8">
                                <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.feeTypeCode" class="k-textbox">

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" style="padding: 0">
                        <div class="form-group" style="margin: 0">
                            <label class="col-sm-4 control-label">费项类型名称：</label>
                            <div class="col-sm-8">
                                <input type="text" data-role="maskedtextbox" style="float:left;width:150px;margin-right:5px;"
                                       data-bind="value:model.feeTypeName" class="k-textbox">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-left: 0px;margin-bottom: 10px">
                    <div id="toolbar-btn" style="padding-bottom: 10px;">
                        <span class="btn btn-primary k-grid-add"
                              style="float: left; margin-right: 5px;"
                             data-bind="click:createFunction"><@spring.message "hap.new"/></span>
                        <span class="btn btn-primary k-grid-save-changes"
                              style="float: left; margin-right: 5px;"
                              data-bind="click:queryResource"><@spring.message "hap.query"/></span>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>kendo.bind($('#toolbar-btn'), viewModel);</script>
    <script>kendo.bind($('#query-form'), viewModel);</script>
    <div style="clear:both">
        <div id="Grid"></div>
    </div>
</div>

<script type="text/javascript">

    var BaseUrl = "${base.contextPath}/mdm/feetype";
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                url: BaseUrl + "/query",
                type: "POST",
                dataType: "json"
            },
            update: {
                url: BaseUrl + "/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/submit",
                type: "POST",
                contentType: "application/json"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "feeTypeId",
                fields: {
                    feeTypeCode:{
                        type:"string",
                        validation: {
                            required: true,
                            feeTypeCodeValidation: function (input) {
                                console.log(input)
                                if (input.is("[name='feeTypeCode']") && input.val() != "") {
                                    if (! /^[A-Z0-9_]+$/.test(input.val()) ){
                                        input.attr("data-feeTypeCodeValidation-msg", "只允许输入大写字母、下划线及数字");
                                        return false;

                                    }
                                    var flag = true;
                                    $.ajax({
                                        type:"POST",
                                        url:"${base.contextPath}/mdm/feetype/query",
                                        async:false,
                                        dataType:"json",
                                        data:{feeTypeCode:input.val()},
                                        success:function (data) {
                                            if (data.total!=0) {
                                                input.attr("data-feeTypeCodeValidation-msg","该值已存在，此字段唯一");
                                                flag = false;
                                            }
                                        }

                                    });
                                    return flag;
                                }
                                return true;
                            }
                        }
                    },
                    feeTypeName:{type: "string"},
                    description:{type: "string"},
                    enableFlag:{type: "string"}
                }
            }
        }
    });

    function typeCodeValidation(input){
        /*
        var re = /^[A-Z0-9_]+$/;
        if (input.val() === "") {
            input.attr("validationMessage","必输");
            return;
        }
        if (!re.test(input.val())){
            input.val("");
            input.attr("validationMessage","此字段只允许输入大写字母、下划线及数字");
        } else {
            $.post(
                "${base.contextPath}/mdm/feetype/query",
                {feeTypeCode:input.val()},
                function (data) {
//                    alert(JSON.stringify(data));
                    if (data.total!==0) {
                        input.attr("validationMessage","该值已存在，此字段唯一");
                        input.val("");

                    }
                }
            );
        }*/
    }

    $("#Grid").kendoGrid({
        dataSource: dataSource,
        height: '100%',
        resizable: true,
        scrollable: true,
        navigatable: false,
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        editable: "inline",
        columns: [
            {
                title: '<@spring.message "操作栏"/>',
                command: [
//                    {
//                        name:"details",
//                        text:"<span class='fa fa-search-plus'></span>",
//                        click:function (e) {
//
//                        }
//                    },
                    {name:"edit"}
                ],
                attributes: {style: "text-align:center"},
                width: 60
            },
            {
                field: "feeTypeCode",
                title: '<@spring.message "编码"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                editor:function (containner, options) {
                    $('<input onchange="typeCodeValidation($(this))" required style="width: 90%;" ' +
                        'class="k-input k-textbox" validationMessage="必输" ' +
                        'name="' + options.field + '"/>' +
                        '<span class="red">&nbsp;&nbsp;*</span>')
                        .appendTo(containner);
                }
//                ^[A-Z0-9_]+$
            },
            {
                field: "feeTypeName",
                title: '<@spring.message "费项类型名称"/>',
                attributes: {style: "text-align:center"},
                width: 200,
                editor:function (containner, options) {
                    $('<input required style="width: 90%;" ' +
                        'class="k-input k-textbox" validationMessage="必输" ' +
                        'name="' + options.field + '"/>' +
                        '<span class="red">&nbsp;&nbsp;*</span>')
                        .appendTo(containner);
                }
            },
            {
                field: "description",
                title: '<@spring.message "描述"/>',
                attributes: {style: "text-align:center"},
                width: 120
            },
            {
                field: "enableFlag",
                title: '<@spring.message "状态"/>',
                attributes: {style: "text-align:center"},
                width: 120,
                template:function (dataItem) {

                    var v = dataItem.enableFlag;
                    $.each(enableFlagData,function(i,n){
                        if((n.value||'').toLowerCase() == (v||'').toLowerCase()){
                            v = n.meaning;
                            return v;
                        }
                    });
                    return v || "";
                },
                editor:function (containner, options) {
                    $('<input required style="width: 90%;" ' +
                        ' validationMessage="必输" ' +
                        'name="' + options.field + '"/>')
                        .appendTo(containner)
                        .kendoDropDownList({
                            dataTextField:"meaning",
                            dataValueField:"value",
                            valuePrimitive:true,
                            dataSource: enableFlagData
                        });
                    $('<span class="red">&nbsp;&nbsp;*</span>').appendTo(containner);
//                    <span style="color: red;font-weight:bold;">&nbsp;&nbsp;*</span>
                }
            }
        ]
    });

    function deleteData() {

        Hap.deleteGridSelection({
            grid: $('#Grid')
        });

    }

    Hap.autoResizeGrid("#Grid");
    $("#Grid thead>tr th").css("text-align","center");

    $(".myicons > span").text("fa fa-envelope");


</script>
</body>
</html>