<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpms.bs.mapper.DataPriviliageMapper">
    <resultMap id="BaseResultMap" type="hpms.bs.dto.DataPriviliage">
        <result column="PRIVILIAGE_ID" property="priviliageId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="USER_ID" property="userId" jdbcType="DECIMAL" />
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
        <result column="COMPANY_FULL_NAME" property="companyFullName" jdbcType="VARCHAR" />
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR" />
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="com.hand.hap.system.dto.SysUserDemo" id="userResultMap">
        <result column="USER_NAME" property="userName" jdbcType="VARCHAR"/>
        <result column="PHONE" property="userPhone" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="userEmail" jdbcType="VARCHAR"/>
        <result column="USER_ID" property="userId" jdbcType="DECIMAL"/>
    </resultMap>

    <resultMap type="com.hand.hap.account.dto.Role" id="roleResultMap">
        <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL"/>
        <result column="ROLE_CODE" property="roleCode" jdbcType="VARCHAR"/>
        <result column="ROLE_NAME" property="roleName" jdbcType="VARCHAR"/>
    </resultMap>

    <!--查询权限控制-->
    <select id="queryDataPriviliage" parameterType="hpms.mdm.dto.Fee" resultMap="BaseResultMap">
        SELECT HDP.PRIVILIAGE_ID,
        HDP.COMPANY_ID,
        HDP.PROJECT_ID,
        HDP.USER_ID,
        HDP.ROLE_ID,
        FCB.COMPANY_FULL_NAME,
        HMS.PROJECT_NAME,
        SU.USER_NAME,
        SRB.ROLE_NAME
        FROM HPMS_DATA_PRIVILIAGE HDP

        LEFT JOIN FND_COMPANY_B FCB
        ON FCB.COMPANY_ID = HDP.COMPANY_ID
        LEFT JOIN HPMS_MDM_PROJECT HMS
        ON HDP.PROJECT_ID = HMS.PROJECT_ID
        LEFT JOIN SYS_USER SU
        ON SU.USER_ID = HDP.USER_ID
        LEFT JOIN SYS_ROLE_B SRB
        ON SRB.ROLE_ID = HDP.ROLE_ID

        <where>
            1=1

            <if test="companyId!=null">
                and HDP.COMPANY_ID=#{companyId,jdbcType=DECIMAL}
            </if>

            <if test="projectId!=null">
                and HDP.PROJECT_ID=#{projectId,jdbcType=DECIMAL}
            </if>

            <if test="roleId!=null">
                and HDP.ROLE_ID=#{roleId,jdbcType=DECIMAL}
            </if>
            <if test="userName!=null">
                and SU.USER_NAME=#{userName,jdbcType=VARCHAR}
            </if>


        </where>

    </select>


    <!-- 查询有效的公司名称 -->
    <select id="userQuery" resultMap="userResultMap" parameterType="com.hand.hap.system.dto.SysUserDemo">
        SELECT SU.USER_ID,
        SU.USER_NAME,
        SU.EMAIL,
        SU.PHONE,
        SU.STATUS
        FROM SYS_USER SU
        WHERE SU.STATUS = 'ACTV'
        AND SYSDATE BETWEEN NVL(SU.START_ACTIVE_DATE,
        TO_DATE('1900-01-01 00:00:00',
        'YYYY-MM-DD HH24:MI:SS')) AND
        NVL(SU.END_ACTIVE_DATE,
        TO_DATE('2999-01-01 00:00:00',
        'YYYY-MM-DD HH24:MI:SS'))

        <if test="userPhone!= null">
            AND SU.PHONE = #{userPhone,jdbcType=VARCHAR}
        </if>
        <if test="userEmail!= null">
            AND SU.EMAIL = #{userEmail,jdbcType=VARCHAR}
        </if>
        <if test="userName!= null">
            AND SU.USER_NAME = #{userName,jdbcType=VARCHAR}
        </if>
    </select>

    <select id="roleQuery" resultMap="roleResultMap" parameterType="com.hand.hap.account.dto.Role">
         SELECT SR.ROLE_ID,
                  SR.ROLE_CODE,
                  SR.ROLE_NAME
             FROM SYS_ROLE_B SR
            WHERE SR.ENABLE_FLAG = 'Y'
              AND SYSDATE BETWEEN NVL(SR.START_ACTIVE_DATE,
                                      TO_DATE('1900-01-01 00:00:00',
                                              'YYYY-MM-DD HH24:MI:SS')) AND
                  NVL(SR.END_ACTIVE_DATE,
                      TO_DATE('2999-01-01 00:00:00',
                              'YYYY-MM-DD HH24:MI:SS'))
    </select>




</mapper>