<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpms.bs.mapper.DataModelMapper">
    <resultMap id="BaseResultMap" type="hpms.bs.dto.DataModel" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="model_id" property="modelId" jdbcType="DECIMAL" />
        <result column="model_code" property="modelCode" jdbcType="VARCHAR" />
        <result column="model_name" property="modelName" jdbcType="VARCHAR" />
        <result column="table_name" property="tableName" jdbcType="VARCHAR" />
    </resultMap>
</mapper>