<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpms.bs.mapper.SequenceRuleMapper">
    <select id="getDate" resultType="hpms.bs.dto.Sequence">
        select start_date_active startDateActive,end_date_active endDateActive from HPMS_SEQUENCE
        where SEQUENCE_CODE = #{value}
        order by end_date_active desc
    </select>
</mapper>
