<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpms.mdm.mapper.CalculateRuleMapper">
    <resultMap id="BaseResultMap" type="hpms.mdm.dto.CalculateRule">
        <result column="CALCULATE_RULE_ID" property="calculateRuleId" jdbcType="DECIMAL" />
        <result column="RULE_CODE" property="ruleCode" jdbcType="VARCHAR" />
        <result column="RULE_NAME" property="ruleName" jdbcType="VARCHAR" />
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
    </resultMap>


</mapper>