<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hpms.mdm.mapper.PaymentMethodMapper">
	<resultMap type="hpms.mdm.dto.PaymentMethod" id="BaseResultMap" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="PAYMENT_METHOD_ID" property="paymentMethodId" jdbcType="DECIMAL"/>
		<result column="PAYMENT_METHOD_CODE" property="paymentMethodCode" jdbcType="VARCHAR"/>
		<result column="PAYMENT_METHOD_NAME" property="paymentMethodName" jdbcType="VARCHAR"/>
		<result column="DESCRIPTION" property="description" jdbcType="VARCHAR"/>
		<result column="AP_FLAG" property="apFlag" jdbcType="VARCHAR"/>
		<result column="AP_FLAG_NAME" property="apFlagName" jdbcType="VARCHAR"/>
		<result column="AR_FLAG" property="arFlag" jdbcType="VARCHAR"/>
		<result column="AR_FLAG_NAME" property="arFlagName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 查询付款方式 -->
    <select id="paymentMethodQuery" resultMap="BaseResultMap" parameterType="hpms.mdm.dto.PaymentMethod">
    	SELECT
    		hmpm.PAYMENT_METHOD_ID,
    		hmpm.PAYMENT_METHOD_CODE,
    		hmpm.PAYMENT_METHOD_NAME,
    		hmpm.DESCRIPTION,
    		hmpm.AP_FLAG,
    		hmpm.AR_FLAG,
    		hcvv1.MEANING AP_FLAG_NAME,
    		hcvv2.MEANING AR_FLAG_NAME
    	FROM HPMS_MDM_PAYMENT_METHOD hmpm
    	LEFT JOIN HPMS_CODE_VALUE_V hcvv1
    	ON hmpm.AP_FLAG = hcvv1.VALUE AND hcvv1.CODE = 'SYS.YES_NO' AND hcvv1.LANG = #{request.locale, jdbcType = VARCHAR}
        LEFT JOIN HPMS_CODE_VALUE_V hcvv2
        ON hmpm.AR_FLAG = hcvv2.VALUE AND hcvv2.CODE = 'SYS.YES_NO' AND hcvv2.LANG = #{request.locale, jdbcType = VARCHAR}
    	WHERE 1 = 1
        <if test = "paymentMethodId != null"> AND hmpm.PAYMENT_METHOD_ID = #{paymentMethodId , jdbcType=DECIMAL} </if>
        <if test = "paymentMethodCode != null"> AND hmpm.PAYMENT_METHOD_CODE like concat('%', concat(#{paymentMethodCode,jdbcType=VARCHAR}, '%')) </if>
    </select>
</mapper>