<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hpms.mdm.mapper.PropertyMapper">
	<resultMap type="hpms.mdm.dto.Property" id="BaseResultMap" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="PROPERTY_ID" property="propertyId" jdbcType="DECIMAL"/>
		<result column="GROUP_ID" property="groupId" jdbcType="DECIMAL"/>
		<result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
		<result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
		<result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
		<result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR"/>
        <result column="PROPERTY_TYPE" property="propertyType" jdbcType="DECIMAL"/>
        <result column="CONFIG_VALUE_NAME" property="configValueName" jdbcType="VARCHAR"/>
        <result column="PROPERTY_NAME" property="propertyName" jdbcType="VARCHAR"/>
        <result column="PROPERTY_NAME_ALIAS" property="propertyNameAlias" jdbcType="VARCHAR"/>
        <result column="PROPERTY_NUMBER" property="propertyNumber" jdbcType="VARCHAR"/>
        <result column="OLD_NUMBER" property="oldNumber" jdbcType="VARCHAR"/>
        <result column="PROPERTY_STATUS" property="propertyStatus" jdbcType="VARCHAR"/>
        <result column="PARENT_PROPERTY_ID" property="parentPropertyId" jdbcType="DECIMAL"/>
        <result column="BUILDING_AMOUNT" property="buildingAmount" jdbcType="DECIMAL"/>
        <result column="DEPT_AREA" property="deptArea" jdbcType="VARCHAR"/>
        <result column="FLOOR_AREA" property="floorArea" jdbcType="DECIMAL"/>
        <result column="GREEN_AREA" property="greenArea" jdbcType="DECIMAL"/>
        <result column="POSTAL_CODE" property="postalCode" jdbcType="VARCHAR"/>
        <result column="DEPT_BUILDER" property="deptBuilder" jdbcType="VARCHAR"/>
        <result column="COMPLETE_TIME" property="completeTime" jdbcType="DATE"/>
        <result column="SECURITY_UNIT" property="securityUnit" jdbcType="VARCHAR"/>
        <result column="LONGITUDE" property="longitude" jdbcType="VARCHAR"/>
        <result column="LATITUDE" property="latitude" jdbcType="VARCHAR"/>
        <result column="COUNTRY" property="country" jdbcType="VARCHAR"/>
        <result column="PROVINCE" property="province" jdbcType="VARCHAR"/>
        <result column="CITY" property="city" jdbcType="VARCHAR"/>
        <result column="DISTRICT" property="district" jdbcType="VARCHAR"/>
        <result column="STREET" property="street" jdbcType="VARCHAR"/>
        <result column="BUILDING_TYPE" property="buildingType" jdbcType="VARCHAR"/>
        <result column="HEATING_WAY" property="heatingWay" jdbcType="VARCHAR"/>
        <result column="ROOM_KIND" property="roomKind" jdbcType="VARCHAR"/>
        <result column="ROOM_TYPE" property="roomType" jdbcType="VARCHAR"/>
        <result column="ROOM_ORIENTATION" property="roomOrientation" jdbcType="VARCHAR"/>
        <result column="ROOM_AREA" property="roomArea" jdbcType="DECIMAL"/>
        <result column="USE_AREA" property="useArea" jdbcType="DECIMAL"/>
        <result column="FEE_AREA" property="feeArea" jdbcType="DECIMAL"/>
        <result column="ROOM_DECORATION" property="roomDecoration" jdbcType="VARCHAR"/>
        <result column="BUILD_DETAILS" property="buildDetails" jdbcType="VARCHAR"/>
        <result column="PARKING_TYPE" property="parkingType" jdbcType="VARCHAR"/>
        <result column="PARKING_LENGTH" property="parkingLength" jdbcType="DECIMAL"/>
        <result column="PARKING_WIDTH" property="parkingWidth" jdbcType="DECIMAL"/>
        <result column="PARKING_AREA" property="parkingArea" jdbcType="DECIMAL"/>
        <result column="PUBLIC_SPACE_TYPE" property="publicSpaceType" jdbcType="VARCHAR"/>
        <result column="PUBLIC_SPACE_AREA" property="publicSpaceArea" jdbcType="DECIMAL"/>
        <result column="ROOM_STATUS" property="roomStatus" jdbcType="VARCHAR"/>
        <result column="PARKING_STATUS" property="parkingStatus" jdbcType="VARCHAR"/>
        <result column="PUBLIC_SPACE_STATUS" property="publicSpaceStatus" jdbcType="VARCHAR"/>
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap type="com.hand.hap.fnd.dto.Company" id="companyResultMap">
        <id column="COMPANY_ID" property="companyId" jdbcType="DECIMAL"/>
        <result column="COMPANY_CODE" property="companyCode" jdbcType="VARCHAR"/>
        <result column="COMPANY_SHORT_NAME" property="companyShortName" jdbcType="VARCHAR"/>
        <result column="COMPANY_FULL_NAME" property="companyFullName" jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap type="hpms.mdm.dto.Project" id="projectResultMap">
        <id column="PROJECT_ID" property="projectId" jdbcType="DECIMAL"/>
        <result column="PROJECT_CODE" property="projectCode" jdbcType="VARCHAR"/>
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap type="hpms.bs.dto.ConfigValue" id="configValueResultMap">
        <id column="CONFIG_VALUE_ID" property="configValueId" jdbcType="DECIMAL"/>
        <result column="CONFIG_VALUE_NAME" property="configValueName" jdbcType="VARCHAR"/>
    </resultMap>
    <!-- 条件查询建筑档案 -->
    <select id="propertyQuery" resultMap="BaseResultMap" parameterType="hpms.mdm.dto.Property">
    	SELECT
    		hmp.PROPERTY_ID,
    		hmp.GROUP_ID,
    		hmp.COMPANY_ID,
    		hmp.PROJECT_ID,
    		hmp.PROPERTY_TYPE,
    		hmp.PROPERTY_NAME,
    		hmp.PROPERTY_NAME_ALIAS,
    		hmp.PROPERTY_NUMBER,
    		hmp.OLD_NUMBER,
    		hmp.PROPERTY_STATUS,
    		hmp.PARENT_PROPERTY_ID,
    		hmp.BUILDING_AMOUNT,
    		hmp.DEPT_AREA,
    		hmp.FLOOR_AREA,
    		hmp.GREEN_AREA,
    		hmp.POSTAL_CODE,
    		hmp.DEPT_BUILDER,
    		hmp.COMPLETE_TIME,
    		hmp.SECURITY_UNIT,
    		hmp.LONGITUDE,
    		hmp.LATITUDE,
    		hmp.COUNTRY,
    		hmp.PROVINCE,
    		hmp.CITY,
    		hmp.DISTRICT,
    		hmp.STREET,
    		hmp.BUILDING_TYPE,
    		hmp.HEATING_WAY,
    		hmp.ROOM_KIND,
    		hmp.ROOM_TYPE,
    		hmp.ROOM_ORIENTATION,
    		hmp.ROOM_AREA,
    		hmp.USE_AREA,
    		hmp.FEE_AREA,
    		hmp.ROOM_DECORATION,
    		hmp.BUILD_DETAILS,
    		hmp.PARKING_TYPE,
    		hmp.PARKING_LENGTH,
    		hmp.PARKING_WIDTH,
    		hmp.PARKING_AREA,
    		hmp.PUBLIC_SPACE_TYPE,
    		hmp.PUBLIC_SPACE_AREA,
    		hmp.ROOM_STATUS,
    		hmp.PARKING_STATUS,
    		hmp.PUBLIC_SPACE_STATUS,
    		hmp.ENABLE_FLAG,
    		fcl.COMPANY_FULL_NAME COMPANY_NAME,
    		hmp2.PROJECT_NAME,
    		hcv.CONFIG_VALUE_NAME
    	FROM HPMS_MDM_PROPERTY hmp
    	LEFT JOIN FND_COMPANY_B fc
        ON hmp.COMPANY_ID = fc.COMPANY_ID
      	LEFT JOIN FND_COMPANY_TL fcl
        ON (fc.COMPANY_ID = fcl.COMPANY_ID AND fcl.LANG = #{request.locale, jdbcType = VARCHAR})
        LEFT JOIN HPMS_MDM_PROJECT hmp2
        ON hmp.PROJECT_ID = hmp2.PROJECT_ID
        LEFT JOIN HPMS_CONFIG_VALUE hcv
        ON hmp.PROPERTY_TYPE = hcv.CONFIG_VALUE_ID
        WHERE 1 = 1
        <if test = "propertyId != null"> AND hmp.PROPERTY_ID = #{propertyId , jdbcType=DECIMAL} </if>
        <if test = "companyId != null"> AND hmp.COMPANY_ID = #{companyId , jdbcType=DECIMAL} </if>
        <if test = "projectId != null"> AND hmp.PROJECT_ID = #{projectId , jdbcType=DECIMAL} </if>
        <if test = "propertyType != null"> AND hmp.PROPERTY_TYPE = #{propertyType , jdbcType=DECIMAL} </if>
        <if test = "configValueName != null"> AND hcv.CONFIG_VALUE_NAME = #{configValueName , jdbcType=VARCHAR} </if>
        <if test = "propertyName != null"> AND hmp.PROPERTY_NAME like concat('%', concat(#{propertyName,jdbcType=VARCHAR}, '%')) </if>
        <if test = "propertyNumber != null"> AND hmp.PROPERTY_NUMBER like concat('%', concat(#{propertyNumber,jdbcType=VARCHAR}, '%')) </if>
        <if test = "oldNumber != null"> AND hmp.OLD_NUMBER like concat('%', concat(#{oldNumber,jdbcType=VARCHAR}, '%')) </if>
    </select>
    
    <!-- 查询有效的公司名称 -->
    <select id="companyQuery" resultMap="companyResultMap" parameterType="com.hand.hap.fnd.dto.Company">
    	SELECT FC.COMPANY_ID,
       		   FC.COMPANY_CODE,
       		   FC.COMPANY_SHORT_NAME,
       		   FC.COMPANY_FULL_NAME
          FROM FND_COMPANY_B FC
          WHERE
          	   SYSDATE BETWEEN 
               NVL(FC.START_DATE_ACTIVE,
                   TO_DATE('1900-01-01 00:00:00','YYYY-MM-DD HH24:MI:SS'))
               AND
               NVL(FC.END_DATE_ACTIVE,
                   TO_DATE('2999-01-01 00:00:00','YYYY-MM-DD HH24:MI:SS'))
                   
                <if test="companyId != null">
	           		AND PARENT_COMPANY_ID = #{companyId,jdbcType=DECIMAL}
	        	</if>
    </select>
    
    <!-- 查询有效的集团名称 -->
    <select id="groupQuery" resultMap="companyResultMap" parameterType="com.hand.hap.fnd.dto.Company">
    	SELECT FC.COMPANY_ID,
       		   FC.COMPANY_CODE,
       		   FC.COMPANY_SHORT_NAME,
       		   FC.COMPANY_FULL_NAME 
          FROM FND_COMPANY_B FC
          WHERE
          	   SYSDATE BETWEEN 
               NVL(FC.START_DATE_ACTIVE,
                   TO_DATE('1900-01-01 00:00:00','YYYY-MM-DD HH24:MI:SS'))
               AND
               NVL(FC.END_DATE_ACTIVE,
                   TO_DATE('2999-01-01 00:00:00','YYYY-MM-DD HH24:MI:SS'))
               AND FC.PARENT_COMPANY_ID is null
    </select>
    
    <!-- 查询有效的项目名称 -->
    <select id="projectQuery" resultMap="projectResultMap" parameterType="hpms.mdm.dto.Project">
    	SELECT HMP.PROJECT_ID,
       		   HMP.PROJECT_CODE,
       		   HMP.PROJECT_NAME
          FROM HPMS_MDM_PROJECT HMP
          WHERE
          	   SYSDATE BETWEEN 
               NVL(HMP.START_DATE_ACTIVE,
                   TO_DATE('1900-01-01 00:00:00','YYYY-MM-DD HH24:MI:SS'))
               AND
               NVL(HMP.END_DATE_ACTIVE,
                   TO_DATE('2999-01-01 00:00:00','YYYY-MM-DD HH24:MI:SS'))
               <if test="companyId != null">
	           		AND COMPANY_ID = #{companyId,jdbcType=DECIMAL}
	           </if>
    </select>
    <!-- 查询有效的建筑类型 -->
    <select id="propertyTypeQuery" resultMap="configValueResultMap" parameterType="hpms.bs.dto.ConfigValue">
    	SELECT HCV.CONFIG_VALUE_ID,
       		   HCV.CONFIG_VALUE_NAME
          FROM HPMS_DATA_MODEL HDM
          LEFT JOIN HPMS_CONFIG HC
          ON HDM.MODEL_ID = HC.MODEL_ID AND HDM.TABLE_NAME = 'HPMS_MDM_PROPERTY' AND HC.ENABLE_FLAG = 'Y'
          LEFT JOIN HPMS_CONFIG_VALUE HCV
          ON HC.CONFIG_ID = HCV.CONFIG_ID AND HCV.ENABLE_FLAG = 'Y'
          WHERE 1=1
          <if test="companyId != null">
         		AND HC.COMPANY_ID = #{companyId,jdbcType=DECIMAL}
          </if>
    </select>
</mapper>