<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hpms.mdm.mapper.PurchaseOrgMapper">
    <resultMap type="hpms.mdm.dto.PaymentTerm" id="BaseResultMap" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="PURCHASE_ORG_ID" property="purchaseOrgId" jdbcType="DECIMAL"/>
        <result column="ORG_CODE" property="orgCode" jdbcType="VARCHAR"/>
        <result column="ORG_NAME" property="orgName" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="START_DATE" property="startDate" jdbcType="DATE"/>
        <result column="END_DATE" property="endDate" jdbcType="DATE"/>
    </resultMap>
</mapper>