<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ #{copyright}#
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpms.mdm.mapper.VersionStructureMapper">
    <resultMap id="BaseResultMap" type="hpms.mdm.dto.VersionStructure" extends="com.hand.hap.mapper.StdMapper.STD">
        <id column="STRUCTURE_ID" property="structureId" jdbcType="DECIMAL" />
        <result column="VERSION_ID" property="versionId" jdbcType="DECIMAL" />
        <result column="STRUCTURE_NUMBER" property="structureNumber" jdbcType="VARCHAR" />
        <result column="STRUCTURE_NAME" property="structureName" jdbcType="VARCHAR" />
        <result column="PROPERTY_ID" property="propertyId" jdbcType="DECIMAL"/>
        <result column="BUSINESS_FORMAT" property="businessFormat" jdbcType="VARCHAR" />
        <result column="STRUCTURE_DESCRIPTION" property="structureDescription" jdbcType="VARCHAR" />
        <result column="PARENT_STRUCTURE_ID" property="parentStructureId" jdbcType="DECIMAL" />

        <result column="parent_structure_name" property="parentStructureName" jdbcType="VARCHAR" />
        <result column="property_name" property="propertyName" jdbcType="VARCHAR" />
        <result column="config_value_name" property="configValueName" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap type="hpms.bs.dto.ConfigValue" id="configValueResultMap">
        <id column="CONFIG_VALUE_ID" property="configValueId" jdbcType="DECIMAL"/>
        <result column="CONFIG_VALUE_NAME" property="configValueName" jdbcType="VARCHAR"/>
        <result column="CONFIG_ID" property="configId" jdbcType="DECIMAL"/>
    </resultMap>



    <!--根据版本id查询结果数据-->
    <select id="findVersionStructureByVersionId" parameterType="java.lang.Long" resultMap="BaseResultMap">
          SELECT vs.structure_id,
           vs.version_id,
           vs.structure_number,
           vs.structure_name,
           vs.property_id,
           vs.business_format,
           vs.parent_structure_id
      FROM hpms_mdm_version_structure vs
          <where>
              1=1
              and vs.version_id=#{versionId,jdbcType=DECIMAL}

              <if test="structureNumber!=null">
                  and vs.STRUCTURE_NUMBER=#{structureNumber,jdbcType=VARCHAR}
              </if>

              <if test="structureName!=null">
                  and vs.STRUCTURE_NAME=#{structureName,jdbcType=VARCHAR}
              </if>

          </where>
    </select>

    <!--查询所有版本结构数据-树形查询-->
    <select id="queryVersionStructure" parameterType="hpms.mdm.dto.VersionStructure" resultMap="BaseResultMap">
      SELECT
       vs.structure_id,
       vs.version_id,
       vs.structure_number,
       vs.structure_name,
       vs.property_id,
       vs.business_format,
       vs.parent_structure_id,
       hmp.property_name,
       vs.object_version_number,
  (
    SELECT
       vs1.structure_name
    FROM
      hpms_mdm_version_structure vs1
    WHERE
      vs1.structure_id = vs.parent_structure_id
  )as parent_structure_name
FROM
  hpms_mdm_version_structure vs
  left join hpms_mdm_property hmp
  on vs.property_id = hmp.property_id

        <where>
            1=1
            <if test="versionId!=null">
                and vs.version_id=#{versionId,jdbcType=DECIMAL}
            </if>

            <if test="structureNumber!=null">
                and vs.STRUCTURE_NUMBER=#{structureNumber,jdbcType=VARCHAR}
            </if>

            <if test="structureName!=null">
                and vs.STRUCTURE_NAME=#{structureName,jdbcType=VARCHAR}
            </if>

        </where>

    </select>

    <!-- 查询有效的建筑类型 -->
    <select id="propertyTypeQuery" resultMap="configValueResultMap" parameterType="hpms.bs.dto.ConfigValue">
        SELECT HCV.CONFIG_VALUE_ID,
        HCV.CONFIG_VALUE_NAME,
        HC.CONFIG_ID
        FROM HPMS_DATA_MODEL HDM
        LEFT JOIN HPMS_CONFIG HC
        ON HDM.MODEL_ID = HC.MODEL_ID AND HDM.TABLE_NAME = 'HPMS_MDM_VERSION_STRUCTURE' AND HC.ENABLE_FLAG = 'Y'
        LEFT JOIN HPMS_CONFIG_VALUE HCV
        ON HC.CONFIG_ID = HCV.CONFIG_ID AND HCV.ENABLE_FLAG = 'Y'
        WHERE 1=1
        <if test="companyId != null">
            AND HC.COMPANY_ID = #{companyId,jdbcType=DECIMAL}
        </if>
    </select>

    <!--根据建筑类型为房间带出客户 -->
    <select id="queryByStructureName" parameterType="hpms.mdm.dto.VersionStructure" resultMap="BaseResultMap">
        SELECT hmp.property_id,
        hmp.property_name,
        hmp.project_id,
        hmp.company_id,
        HCO.CUSTOMER_NAME,
        HCO.STATUS,
        hcv.config_value_name,
        hmvs.business_format,
        hmvs.structure_id,
        hmvs.version_id,
        HCO.OCCUPATION_ID,
        hmvs.structure_name
        from (SELECT *
        FROM HPMS_CS_OCCUPATION
        WHERE OCCUPATION_ID IN
        (SELECT MAX(HPMS_CS_OCCUPATION.OCCUPATION_ID)
        FROM HPMS_CS_OCCUPATION
        GROUP BY HPMS_CS_OCCUPATION.PROPERTY_ID)) HCO
        LEFT JOIN HPMS_MDM_VERSION_STRUCTURE HMVS
        ON HMVS.PROPERTY_ID = HCO.PROPERTY_ID
        LEFT JOIN HPMS_MDM_PROPERTY HMP
        on hmp.property_id = hmvs.property_id
        left join HPMS_CONFIG_VALUE hcv
        on hcv.config_value_id = hmp.property_type
        where 1 = 1 and HCO.STATUS='IN'
        and hcv.config_value_name = '房间'

        <if test="companyId!=null">
            and hmp.company_id = #{companyId,jdbcType=VARCHAR}
        </if>
        <if test="projectId!=null">
            and hmp.project_id = #{projectId,jdbcType=VARCHAR}
        </if>
    </select>



</mapper>