<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   
</head>
<script>

    /*
     *time:2017/01/14
     *sheng.wu01@hand-china.com
     * 将gird的id传递过来
     * 页面清除数据**/
    function cleanData(Grid) {
        grid = $("#"+Grid).data("kendoGrid");
        var checked=grid.selectedDataItems();
        if(checked.length){
            $.each(checked, function (i, v) {
                v['cleanFlag'] = 'Y';
                grid.dataSource.remove(v)
            })
        }else{
            var a=grid._data.length;
            var v=grid._data[--a];
            v['cleanFlag'] = 'Y';
            grid.dataSource.remove(v)
        }
    }
</script>
</html>