<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpms.fin.mapper.MeterChargeMapper">
    <resultMap id="BaseResultMap" type="hpms.fin.dto.MeterCharge">
        <result column="charge_rule_id" property="chargeRuleId" jdbcType="DECIMAL" />
        <result column="company_id" property="companyId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="EQUIPMENT_TYPE_ID" property="equipmentTypeId" jdbcType="DECIMAL"/>
        <result column="cr_object" property="crObject" jdbcType="VARCHAR" />
        <result column="cr_code" property="crCode" jdbcType="VARCHAR" />
        <result column="cr_name" property="crName" jdbcType="VARCHAR" />
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR" />
        <result column="type_name" property="typeName" jdbcType="VARCHAR" />
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" />

    </resultMap>

    <select id="isHaveEnable" parameterType="hpms.fin.dto.MeterCharge" resultType="hpms.fin.dto.MeterCharge">
        SELECT enable_flag enableFlag FROM HPMS_FIN_METER_CHARGE_RULE
         WHERE company_id = #{companyId} AND project_id = #{projectId} AND equipment_type_id = #{equipmentTypeId}
    </select>
    <select id="isChange" parameterType="hpms.fin.dto.MeterCharge" resultType="java.lang.Integer">
      SELECT count(*)
      FROM HPMS_FIN_METER_READ_HIS HFMRH, HPMS_MDM_EQUIPMENT HME
      WHERE HFMRH.COMPANY_ID = #{companyId}
      AND HFMRH.PROJECT_ID = #{projectId}
      AND HFMRH.EQUIPMENT_ID = HME.EQUIPMENT_ID
      AND HME.EQUIPMENT_TYPE_ID = #{equipmentTypeId}
      AND HFMRH.STATUS = 'ACTIVE'
    </select>

    <!--根据项目选择有效的仪表类型  fuchun.hu@hand-china.com   2017年3月20日 14:22:44-->
    <select id="findEquipmentTypeByMeterCharge" parameterType="hpms.fin.dto.MeterCharge" resultMap="BaseResultMap">
      SELECT cr.equipment_type_id,
       et.type_name,
       cr.project_id
  FROM hpms_fin_meter_charge_rule cr,
       hpms_mdm_equipment_type    et
     WHERE cr.equipment_type_id = et.equipment_type_id
     and cr.project_id=#{projectId,jdbcType=DECIMAL}
    and cr.enable_flag='Y'
    </select>

    <select id="chargeQuery" resultMap="BaseResultMap" parameterType="hpms.fin.dto.MeterCharge">
        SELECT
        HMP.CHARGE_RULE_ID,
        HMP.PROJECT_ID,
        HMP.COMPANY_ID,
        HMP.EQUIPMENT_TYPE_ID,
        HMP.CR_OBJECT,
        HMP.CR_CODE,
        HMP.CR_NAME,
        HMP.ENABLE_FLAG,
        FP.PROJECT_NAME,
        FC.COMPANY_FULL_NAME COMPANY_NAME,
        ET.TYPE_NAME
        FROM HPMS_FIN_METER_CHARGE_RULE HMP
        LEFT JOIN FND_COMPANY_B FC
        ON HMP.COMPANY_ID = FC.COMPANY_ID
        LEFT JOIN HPMS_MDM_PROJECT FP
        ON HMP.PROJECT_ID = FP.PROJECT_ID
        LEFT JOIN hpms_mdm_equipment_type ET
        ON HMP.EQUIPMENT_TYPE_ID = ET.EQUIPMENT_TYPE_ID
        WHERE 1=1
        <if test = "projectId != null"> AND hmp.PROJECT_ID like #{projectId , jdbcType=DECIMAL} </if>
        <if test = "companyId != null"> AND hmp.COMPANY_ID like #{companyId , jdbcType=DECIMAL} </if>
        <if test = "equipmentTypeId != null"> AND hmp.EQUIPMENT_TYPE_ID like #{equipmentTypeId , jdbcType=DECIMAL} </if>
        <if test = "chargeRuleId != null"> AND hmp.CHARGE_RULE_ID like #{chargeRuleId , jdbcType=DECIMAL} </if>
        <if test = "enableFlag != null"> AND hmp.ENABLE_FLAG like #{enableFlag , jdbcType=VARCHAR} </if>
        <if test = "crName != null"> AND hmp.CR_NAME like concat('%', concat(#{crName , jdbcType=VARCHAR}, '%')) </if>
    </select>

</mapper>
