<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpms.fin.mapper.MeterReadHisMapper">
    <resultMap id="BaseResultMap" type="hpms.fin.dto.MeterReadHis">
        <result column="READ_HIS_ID" property="readHisId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="EQUIPMENT_ID" property="equipmentId" jdbcType="DECIMAL" />
        <result column="INVOICE_CODE" property="invoiceCode" jdbcType="VARCHAR" />
        <result column="LAST_READ" property="lastRead" jdbcType="DECIMAL" />
        <result column="CURRENT_READ" property="currentRead" jdbcType="DECIMAL" />
        <result column="METER_TOTAL_USE" property="meterTotalUse" jdbcType="DECIMAL" />
        <result column="METER_TOTAL_AMOUNT" property="meterTotalAmount" jdbcType="DECIMAL" />
        <result column="READ_DATE" property="readDate" jdbcType="DATE" />
        <result column="FLAG" property="flag" jdbcType="VARCHAR" />
        <result column="NEW_RECORD_FLAG" property="newRecordFlag" jdbcType="VARCHAR" />
        <result column="IS_POSTED_FLAG" property="isPostedFlag" jdbcType="VARCHAR" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    </resultMap>

    <!--查询应付信息-->
    <select id="queryMeterReadHis" parameterType="hpms.fin.dto.MeterReadHis" resultMap="BaseResultMap">
      SELECT HFMRH.READ_HIS_ID,
       HFMRH.COMPANY_ID,
       HFMRH.PROJECT_ID,
       HFMRH.EQUIPMENT_ID,
       HFMRH.INVOICE_CODE,
       HFMRH.LAST_READ,
       HFMRH.CURRENT_READ,
       HFMRH.METER_TOTAL_USE,
       HFMRH.METER_TOTAL_AMOUNT,
       HFMRH.READ_DATE,
       HFMRH.FLAG,
       HFMRH.NEW_RECORD_FLAG,
       HFMRH.IS_POSTED_FLAG,
       HFMRH.STATUS,
       HFMRH.PROGRAM_ID,
       HFMRH.REQUEST_ID
       FROM HPMS_FIN_METER_READ_HIS HFMRH
       WHERE 1=1
       <if test="equipmentId!=null">
          AND HFMRH.EQUIPMENT_Id=#{equipmentId,jdbcType=DECIMAL}
       </if>
       <if test="newRecordFlag!=null">
          AND HFMRH.NEW_RECORD_FLAG=#{newRecordFlag,jdbcType=DECIMAL}
       </if>
    </select>

</mapper>