<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hpms.fin.mapper.MeterChargeMapper">
    <resultMap id="BaseResultMap" type="hpms.fin.dto.MeterCharge">
        <result column="charge_rule_id" property="chargeRuleId" jdbcType="DECIMAL" />
        <result column="company_id" property="companyId" jdbcType="DECIMAL" />
        <result column="project_id" property="projectId" jdbcType="DECIMAL" />
        <result column="EQUIPMENT_TYPE_ID" property="equipmentTypeId" jdbcType="DECIMAL"/>
        <result column="cr_object" property="crObject" jdbcType="VARCHAR" />
        <result column="cr_code" property="crCode" jdbcType="VARCHAR" />
        <result column="cr_name" property="crName" jdbcType="VARCHAR" />
        <result column="enable_flag" property="enableFlag" jdbcType="VARCHAR" />
        <result column="type_name" property="typeName" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="BaseMap" type="hpms.mdm.dto.Project">
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="PROJECT_CODE" property="projectCode" jdbcType="VARCHAR" />
        <result column="PROJECT_NAME" property="projectName" jdbcType="VARCHAR" />
        <result column="GROUP_ID" property="groupId" jdbcType="DECIMAL" />
        <result column="GROUP_NAME" property="groupName" jdbcType="VARCHAR"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR"/>
        <result column="PROJECT_CONTACT" property="projectContact" jdbcType="VARCHAR" />
        <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
        <result column="PROJECT_ADDRESS" property="projectAddress" jdbcType="VARCHAR" />
        <result column="START_DATE_ACTIVE" property="startDateActive" jdbcType="DATE" />
        <result column="END_DATE_ACTIVE" property="endDateActive" jdbcType="DATE" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
    </resultMap>



    <select id="isHaveEnable" parameterType="hpms.fin.dto.MeterCharge" resultType="hpms.fin.dto.MeterCharge">
        SELECT enable_flag enableFlag FROM HPMS_FIN_METER_CHARGE_RULE
         WHERE company_id = #{companyId} AND project_id = #{projectId} AND equipment_type_id = #{equipmentTypeId}
    </select>
    <select id="isChange" parameterType="hpms.fin.dto.MeterCharge" resultType="java.lang.Integer">
      SELECT count(*)
      FROM HPMS_FIN_METER_READ_HIS HFMRH, HPMS_MDM_EQUIPMENT HME
      WHERE HFMRH.COMPANY_ID = #{companyId}
      AND HFMRH.PROJECT_ID = #{projectId}
      AND HFMRH.EQUIPMENT_ID = HME.EQUIPMENT_ID
      AND HME.EQUIPMENT_TYPE_ID = #{equipmentTypeId}
      AND HFMRH.STATUS = 'ACTIVE'
    </select>

    <!--根据项目选择有效的仪表类型  fuchun.hu@hand-china.com   2017年3月20日 14:22:44-->
    <select id="findEquipmentTypeByMeterCharge" parameterType="hpms.fin.dto.MeterCharge" resultMap="BaseResultMap">
      SELECT cr.equipment_type_id,
       et.type_name,
       cr.project_id
  FROM hpms_fin_meter_charge_rule cr,
       hpms_mdm_equipment_type    et
     WHERE cr.equipment_type_id = et.equipment_type_id
     and cr.project_id=#{projectId,jdbcType=DECIMAL}
    and cr.enable_flag='Y'
    </select>

    <select id="projectQuery" resultMap="BaseMap" parameterType="hpms.mdm.dto.Project">
        SELECT HMP.PROJECT_ID,
        HMP.PROJECT_CODE,
        HMP.PROJECT_NAME,
        HMP.GROUP_ID,
        HMP.COMPANY_ID,
        HMP.PROJECT_CONTACT,
        HMP.CONTACT_PHONE,
        HMP.PROJECT_ADDRESS,
        HMP.START_DATE_ACTIVE,
        HMP.END_DATE_ACTIVE,
        HMP.ENABLE_FLAG,
        HMP.PROGRAM_ID,
        HMP.REQUEST_ID,
        FG.COMPANY_FULL_NAME GROUP_NAME,
        FC.COMPANY_FULL_NAME COMPANY_NAME
        FROM HPMS_MDM_PROJECT HMP
        LEFT JOIN FND_COMPANY_B fg
        ON hmp.group_id = fg.COMPANY_ID
        LEFT JOIN FND_COMPANY_TL fgl
        ON (fg.COMPANY_ID = fgl.COMPANY_ID AND fgl.LANG = #{request.locale, jdbcType = VARCHAR})
        LEFT JOIN FND_COMPANY_B fc
        ON hmp.COMPANY_ID = fc.COMPANY_ID
        LEFT JOIN FND_COMPANY_TL fcl
        ON (fc.COMPANY_ID = fcl.COMPANY_ID AND fcl.LANG = #{request.locale, jdbcType = VARCHAR})
        WHERE 1=1
        <if test = "projectId != null"> AND hmp.PROJECT_ID like #{projectId , jdbcType=DECIMAL} </if>
        <if test = "projectCode != null"> AND hmp.Project_Code like concat('%', concat(#{projectCode , jdbcType=VARCHAR}, '%')) </if>
        <if test = "projectName != null"> AND hmp.Project_Name like concat('%', concat(#{projectName , jdbcType=VARCHAR}, '%')) </if>
        <if test = "startDateActive != null">
            AND hmp.START_DATE_ACTIVE &lt;= #{startDateActive,jdbcType=DATE}
        </if>
        <if test = "endDateActive != null">
            AND hmp.END_DATE_ACTIVE &gt;= #{endDateActive,jdbcType=DATE}
        </if>
    </select>
</mapper>
