<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hpms.fin.mapper.PaymentMapper">
	<resultMap id="InvoiceResultMap" type="hpms.fin.dto.Invoice">
        <result column="INVOICE_ID" property="invoiceId" jdbcType="DECIMAL" />
        <result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
        <result column="PROJECT_ID" property="projectId" jdbcType="DECIMAL" />
        <result column="PAYABLE_CODE" property="payableCode" jdbcType="VARCHAR" />
        <result column="INVOICE_TYPE" property="invoiceType" jdbcType="VARCHAR" />
        <result column="INVOICE_DATE" property="invoiceDate" jdbcType="DATE" />
        <result column="INVOICE_NUM" property="invoiceNum" jdbcType="VARCHAR" />
        <result column="OCCUPATION_ID" property="occupationId" jdbcType="DECIMAL" />
        <result column="ACCOUNT_DATE" property="accountDate" jdbcType="DATE" />
        <result column="ACCOUNT_PERIOD" property="accountPeriod" jdbcType="VARCHAR" />
        <result column="PAYMENT_TERM_ID" property="paymentTermId" jdbcType="DECIMAL" />
        <result column="PAYMENT_METHOD_ID" property="paymentMethodId" jdbcType="DECIMAL" />
        <result column="TRANS_TYPE" property="transType" jdbcType="VARCHAR" />
        <result column="INVOICE_AMOUNT" property="invoiceAmount" jdbcType="DECIMAL" />
        <result column="TAX_AMOUNT" property="taxAmount" jdbcType="DECIMAL" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="PROGRAM_ID" property="programId" jdbcType="DECIMAL" />
        <result column="REQUEST_ID" property="requestId" jdbcType="DECIMAL" />
        <result column="ENABLE_FLAG" property="enableFlag" jdbcType="VARCHAR" />
        <result column="CUSTOMER_NAME" property="customerName" jdbcType="VARCHAR" />
        <result column="PROPERTY_NAME" property="propertyName" jdbcType="VARCHAR" />
        <result column="PROPERTY_NUMBER" property="propertyNumber" jdbcType="VARCHAR" />
        <result column="MEANING1" property="meaning1" jdbcType="VARCHAR" />
        <result column="MEANING2" property="meaning2" jdbcType="VARCHAR" />
        <result column="MEANING3" property="meaning3" jdbcType="VARCHAR" />
        <result column="PAY_DATE" property="payDate" jdbcType="DATE" />
        <result column="STATUS" property="status" jdbcType="VARCHAR" />
        <result column="AMOUNT" property="amount" jdbcType="DECIMAL" />
        <result column="PAYMENT_TERM_NAME" property="paymentTermName" jdbcType="VARCHAR" />
        <result column="PAYMENT_METHOD_NAME" property="paymentMethodName" jdbcType="VARCHAR" />
        <result column="PAYMENT_ID" property="paymentId" jdbcType="DECIMAL" />
        <result column="PAYMENT_CODE" property="paymentCode" jdbcType="DECIMAL" />
        <result column="DOC_TYPE_PAY" property="docTypePay" jdbcType="VARCHAR" />

    </resultMap>
    
    <!--查询应付信息-->
    <select id="queryInvoice" parameterType="hpms.fin.dto.Invoice" resultMap="InvoiceResultMap">
        SELECT
          HFI.INVOICE_ID,
          HFI.COMPANY_ID,
          HFI.PROJECT_ID,
          HFI.PAYABLE_CODE,
          HFI.INVOICE_TYPE,
          HFI.INVOICE_NUM,
          HFI.OCCUPATION_ID,
          HFI.ACCOUNT_DATE,
          HFI.ACCOUNT_PERIOD,
          HFI.PAYMENT_TERM_ID,
          HFI.PAYMENT_METHOD_ID,
          HFI.TRANS_TYPE,
          HFI.INVOICE_AMOUNT,
          HFI.TAX_AMOUNT,
          HFI.ENABLE_FLAG,
          FCB.COMPANY_FULL_NAME,
          HMP.PROJECT_NAME,
          HCO.PROPERTY_NUMBER,
          HCO.PROPERTY_NAME,
          HCO.CUSTOMER_NAME,
          HMPT.PAYMENT_TERM_NAME,
          HMPM.PAYMENT_METHOD_NAME,
          HCVV1.MEANING MEANING1,
          HCVV2.MEANING MEANING2,
          NVL(HFP.INVOICE_NUMBER,'') INVOICE_NUMBER,
          NVL(HCVV3.MEANING,'预付款') STATUS,
          NVL(HFP.PAY_DATE,'') PAY_DATE,
          NVL(HFP.AMOUNT,'') AMOUNT,
          NVL(HFP.PAYMENT_ID,'') PAYMENT_ID,
          'AC' doc_type_pay
          FROM HPMS_FIN_INVOICE HFI
          LEFT JOIN FND_COMPANY_B FCB
          ON HFI.COMPANY_ID = FCB.COMPANY_ID
          LEFT JOIN HPMS_MDM_PROJECT HMP
          ON HMP.PROJECT_ID = HFI.PROJECT_ID
          LEFT JOIN HPMS_CS_OCCUPATION HCO
          ON HCO.OCCUPATION_ID = HFI.OCCUPATION_ID
          LEFT JOIN HPMS_MDM_PAYMENT_TERM HMPT
          ON HMPT.PAYMENT_TERM_ID = HFI.PAYMENT_TERM_ID
          LEFT JOIN HPMS_MDM_PAYMENT_METHOD HMPM
          ON HMPM.PAYMENT_METHOD_ID = HFI.PAYMENT_METHOD_ID
          LEFT JOIN HPMS_FIN_PAYMENT HFP
          ON HFI.PAYABLE_CODE = HFP.INVOICE_NUMBER
	        LEFT JOIN HPMS_CODE_VALUE_V HCVV1
	        ON HCVV1.CODE = 'HPMS_AP_INVOICE_TYPE'
	        AND HCVV1.VALUE = HFI.INVOICE_TYPE
	        AND HCVV1.LANG = #{request.locale,jdbcType=VARCHAR}
	        LEFT JOIN HPMS_CODE_VALUE_V HCVV2
	        ON HCVV2.CODE = 'HPMS_TRANS_TYPE_AP'
	        AND HCVV2.VALUE = HFI.TRANS_TYPE
	        AND HCVV2.LANG = #{request.locale,jdbcType=VARCHAR}
	        LEFT JOIN HPMS_CODE_VALUE_V HCVV3
	        ON HCVV3.CODE = 'HPMS_PAYMENT_STATUS'
	        AND HCVV3.VALUE = HFP.STATUS
	        AND HCVV3.LANG = #{request.locale,jdbcType=VARCHAR}

        <where>
			1=1 AND (HFI.INVOICE_TYPE = 'PAYABLE_OTHER' OR HFI.INVOICE_TYPE = 'PAYABLE')
			<if test="propertyNumber!=null">
				AND HCO.PROPERTY_NUMBER = #{propertyNumber,jdbcType=VARCHAR}
			</if>
			<if test="paymentId!=null">
				AND HCO.HFP.PAYMENT_ID = #{propertyNumber,jdbcType=paymentId}
			</if>
        </where>

    </select>
</mapper>